<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/header/header.css">
</head>
<body th:fragment="foot">
<!--    <footer th:fragment="footerFragment" class="footer">-->
        <!-- footer를 th:fragment를 이용하여 조각화 하였고 이름은 footerFragment로 설정함 -->
        <div class="cont">
            <div class="footer-menu">
                <a href="#" target="_blank">회사소개</a>
                <a href="#" target="_blank">이용약관</a>
                <a href="#" target="_blank">개인정보처리방침</a>
                <a href="#" target="_blank">제휴제안</a>
                <a href="#" target="_blank">이용안내</a>
                <a href="#" target="_blank">인재채용</a>
                <ul class="family">
                    <li><a href="#" class="family-btn">Family Site</a></li>
                    <li><a href="#" target="_blank">iSTYLE24</a></li>
                    <li><a href="#" target="_blank">한세예스24홀딩스</a></li>
                    <li><a href="#" target="_blank">한세실업</a></li>
                    <li><a href="#" target="_blank">한세드림</a></li>
                    <li><a href="#" target="_blank">한세MK</a></li>
                    <li><a href="#" target="_blank">컬리수</a></li>
                    <li><a href="#" target="_blank">YES24 Vietnam</a></li>
                    <li><a href="#" target="_blank">동아출판</a></li>
<!--                <a href="http://company.yes24.com/" target="_blank">회사소개</a>-->
<!--                <a href="http://www.yes24.com/notice/service.aspx" target="_blank">이용약관</a>-->
<!--                <a href="http://www.yes24.com/notice/privacypolicy.aspx" target="_blank">개인정보처리방침</a>-->
<!--                <a href="http://www.yes24.com/notice/youthpolicy.aspx" target="_blank">제휴제안</a>-->
<!--                <a href="http://ticket.yes24.com/Pages/UserGuide/BookingGuide.aspx" target="_blank">이용안내</a>-->
<!--                <a href="/UserGuide/inquiry" target="_blank">인재채용</a>-->
<!--                <ul class="family">-->
<!--                    <li><a href="#" class="family-btn">Family Site</a></li>-->
<!--                    <li><a href="http://www.istyle24.com/" target="_blank">iSTYLE24</a></li>-->
<!--                    <li><a href="http://hansaeyes24.com/" target="_blank">한세예스24홀딩스</a></li>-->
<!--                    <li><a href="https://www.hansae.com/" target="_blank">한세실업</a></li>-->
<!--                    <li><a href="http://hansaedreams.co.kr/" target="_blank">한세드림</a></li>-->
<!--                    <li><a href="http://hansaemk.com" target="_blank">한세MK</a></li>-->
<!--                    <li><a href="https://www.curlysue.co.kr/curlysue_new/" target="_blank">컬리수</a></li>-->
<!--                    <li><a href="https://www.yes24.vn/" target="_blank">YES24 Vietnam</a></li>-->
<!--                    <li><a href="http://www.dongapublishing.com/main.donga" target="_blank">동아출판</a></li>-->
                </ul>
            </div>
            <div class="footer-txt">
                <a href="/New/Main.aspx?Gcode=009_201" class="flogo"><img src="buskers-logo.png" alt=""></a>
                <div class="footxt">
                    <p>일조가일냈조㈜</p>
                    <p class="gray">서울특별시 강남구 역삼동 736-6(코리아IT)<br>대표  오강래&nbsp; |&nbsp; 개인정보보호책임자 : 한동석 koreait@naver.com<br>사업자등록번호  229-81-37000&nbsp; |  통신판매업신고  제 2005-02682호 
                        <a href="http://www.ftc.go.kr/www/bizCommList.do?key=232" target="_blank">사업자 정보확인</a>
                    <br>호스팅 서비스사업자 : 일조가일냈조㈜
                    </p>
                    <p>Copyright © buskers Corp. All Rights Reserved.</p>
                </div>
                <div class="foo-right">
                    <p class="mark">
                        <img src="http://tkfile.yes24.com/imgNew/common/fmark.png" alt="">
                        <a href="https://mall.sgic.co.kr/csh/iutf/sh/shop/CSHINFO004VM0.mvc?tm=3&amp;q_sk=2&amp;q_sv=2298137000" target="_blank">서비스가입사실확인</a>
                    </p>
                    <p class="fservice">고객님은 안전거래를 위한 현금 등으로 결제 시<br> 
                    저희 쇼핑몰에서 가입한 구매안전서비스를 <br>
                    이용하실 수 있습니다.    
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>