<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/static/assets/css/user.css" />
</head>

<body>
    <div class="all-change">
        <div class="header-change">
            <p class="h-change">Buskers</p>
            <h1 class="h-change">관리자 이름</h1>
            <ul class="h-change">
                <li><a href="">아티스트 관리</a></li>
                <li><a href="">모집 공고 관리</a></li>
                <li><a href="">작품 관리</a></li>
                <li><a href="">회원 관리</a></li>
                <li><a href="">문의 관리</a></li>
            </ul>
        </div>
        <div class="field-display">
            <div class="admin-name">
                <h1>관리자 이름</h1>
                <div class="btn-main-border">
                    <a href="/templates/main/main.html" class="btn-main">메인으로 돌아가기</a>
                </div>
            </div>
            <div class="left-today">
                <div class="today">
                    <h5>오늘의 할일</h5>
                    <ul>
                        <li><a href="">아티스트심사<p></p></a>
                        </li>
                        <li><a href="">모집공고심사<p></p></a>
                        </li>
                        <li><a href="">작품심사<p></p></a>
                        </li>
                        <li><a href="">회원관리<p></p></a>
                        </li>
                        <li><a href="">문의관리<p></p></a>
                        </li>
                    </ul>
                </div>
                <div class="artist-list">
                    <table>
                        <th>일자별 요약</th>
                        <tr>
                            <td>일자</td>
                            <td>이름</td>
                            <td>설명</td>
                            <td>후원 여부</td>
                        </tr>
                        <tr>
                            <td>2022-06-10</td>
                            <td>김규빈</td>
                            <td>내용 보기</td>
                            <td>O</td>
                        </tr>
                        
                    </table>
                </div>
                <div class="artist-list">
                    <table>
                        <th>아티스트 관리</th>
                        <tr>
                            <td>2022-06-10</td>
                        </tr>
                    </table>
                </div>
                <div class="artist-list">
                    <table>
                        <th>모집 공고 관리</th>
                        <tr>
                            <td>2022-06-10</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>