<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="BUSKERS - 공연예정" />
    <meta property="og:type" content="website" />
    <meta property="og:description" />
    <meta property="fb:app_id" />
    <title>상세보기</title>

  <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/reset.css' />
  <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/common.css' />
  <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show.css' />
  <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show_view.css' />

  <!-- Google Tag Manager -->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
  (window,document,'script','dataLayer','GTM-PVHFWWM');
  </script>

  <!-- End Google Tag Manager -->
  <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/swiper_min.js'></script>
  <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Chart.bundle_min.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/utils.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.mCustomScrollbar_min.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/common.js?v=388'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.lazy.min.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.cookie.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.url.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/base64.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/babel.js'></script><script type='text/javascript' src='http://tkfile.yes24.com/New/Js/polyfill.js'></script>
  <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery-ui.js'></script>
  <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jry_home_jdefault.js'></script>
  <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jry_home_jdialog.js'></script>
  <script type='text/javascript' src='/inc/js/jry_default_new.js?v=388'></script>
  
  <style type="text/css">
     body{
        font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
    }
  </style>

 </head>

 <header th:include="~{/header/header3 :: head}">

 </header>
 <body>
 
<div class="rnew-top-wrap">
   <div class="rnew-top">
      <div class="rntop-img">
            <img src='/images/concertPlan/img3.jpg' />
      </div>
   </div>
</div>

<div class="renew-wrap">
   <div class="renew-content">
      <div class="rn-01">
         <p class="rn-location"><a href='#'>버스킹<a href='#'>뮤지션</a></p>
      </div>
      <div class="rn-02">
         <p class="rn-big-title">버스커1 버스킹</p>
         <div class="rn-product-short-data">
            <p><span class="ps-date">2022.08.06</span><a href="#" id="ps-location"><span class="ps-location">[홍대] 홍대 걷고싶은 거리</span></a></p>
            <a href="javascript:void(0);" class="ps-social"></a>            
         </div>         
      </div>
   </div>   
</div>

<div class="movie-pop-wrap">
   <div class="movie-pop-bg">
      <div class="movie-pop">
         <div class="movie-list">
                
    <div class="swiper-container">
      <div class="swiper-wrapper"></div>      
    </div>

   <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
         </div>
         <div class="movie-area" id="playerPerf"></div>
         <a href="#" class="movie-area-close"><img src="http://tkfile.yes24.com/imgNew/common/movie-list-btn-close.png" alt="" /></a>
      </div>
   </div>
</div>

<div class="renew-wrap rw2">
   <div class="renew-content">
      <div class="rn-03">
         
         <div class="rn-03-left">
            <div class="rn-product-imgbox">
               <img src='/images/concertPlan/img3.jpg' />
            </div>
            <div class="rn-product-maps" id="divPerfRelation" style="display:none;"></div>
            <div class="rn-product-social">
               <a href="javascript:;" class="rn-product-good">
                  <img src="/images/concertPlan/hart1.png" alt="" />
                        <img src="/images/concertPlan/hart2.png" alt="" />
                        <span class="rn-pdg-txt2"></span><span class="rn-pdg-txt1">Likes</span>
               </a>      
            </div>
                <div class = "btn" >
                    <button type="button" onclick="location.href='/concertPlan/concertPlanModify'">수정</button>
                </div>            
         </div>

         <div class="rn-03-right">
            <div class="rn-product-area1">
               <dl>
                  <dt>버스커</dt>
                  <dd>&nbsp;버스커1</dd>
                  <dt>공연알자</dt>
                  <dd>&nbsp;2022년 08월 06일 (토)</dd>
                        <dt>공연시간</dt>
                  <dd>&nbsp;오후 1시 ~ 오후 2시 30분</dd>
                        <dt>공연장소</dt>
                  <dd>&nbsp;[홍대] 홍대 걷고싶은 거리</dd> 
               </dl>               
            </div>
                <dt>찾아오는 길</dt>
         </div>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.980690669747!2d126.91928172782173!3d37.55551871519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c98c3106ebb65%3A0x227598a416b2090!2z7ZmN64yAIOqxt-qzoOyLtuydgOqxsOumrA!5e0!3m2!1sko!2skr!4v1655124481098!5m2!1sko!2skr" width="600" height="450" style="position: absolute; top:200px;left:500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         
      </div>

      <div class="rn-tab-boxes">
         <div class="rn-tab-area rn-08 on" id="rn-tab01" style="display:block;">
            <div class="rn-0801">
               <div class="rn08-txt" id="divPerfNotice">
               </div>
               <div class="rn08-tbl rn-0801-tbl">
                  <table>
                     <caption></caption>
                  </table>
               </div>
            </div>

            <div class="rn-0802">
               <p class="rn08-tit">정보제공고시</p>
               <div class="rn08-txt">
                  <div class="rn08-tbl rn08-tbl-plus">
                     <table>
                        <caption></caption>
                        <colgroup>
                           <col width="18.5%" />
                           <col width="31.5%" />
                           <col width="18.5%" />
                           <col width="31.5%" />
                        </colgroup>
                        <tbody>
                           <tr>
                                        <th scope="row" class="rn08-tbl-tit2">주최/기획</th>
                                        <td>(주)BUSKERS</td>
                                        <th scope="row" class="rn08-tbl-tit2">상담</th>
                                        <td>02-1234-5678</td>
                                    </tr>
                           <tr>
                                        <th scope="row" class="rn08-tbl-tit2">버스커</th>
                                        <td>버스커1</td>
                                        <th scope="row" class="rn08-tbl-tit2">카테고리</th>
                                        <td>뮤지션</td>
                                    </tr>
                           <tr>
                                        <th scope="row" class="rn08-tbl-tit2">공연일자</th>
                                        <td>2022.08.06 13:00~14:30</td>
                                        <th scope="row" class="rn08-tbl-tit2">공연장소</th>
                                        <td>[홍대] 홍대 걷고싶은 거리</td>
                                    </tr>
                           <tr><th scope="row"class="rn08-tbl-tit2">관람시 주의사항</th><td colspan="3">
                              <div class="rn08-detail-box">
                                            
                                 <p>
                                    - 시민 보행로 확보 부탁드립니다.</br>
                                                - 지나친 소음은 삼가 부탁드립니다.</br>
                                                - 쓰레기는 쓰레기통에 버려주시기 바랍니다.</br>
                                                - 작품은 손대신 눈과 귀로 즐겨주세요.
                                 </p>
                                        
                              </div>
                           </td></tr>
                        </tbody>
                     </table>
                  </div>
               </div>               
            </div>


             <footer th:include="~{/footer/footer :: foot}">

             </footer>

</body>
</html>

