<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="~{/header/header3 :: head}">-->

<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="/assets/css/main/main.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/css/main/style.css">-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->

<!--</head>-->

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main/style.css">

</head>

<body>
<header th:include="~{/header/header3 :: head}">

</header>
    
<!-- -->

<!--container -->
<section id="container">
    <div class="arrow prev" onclick = "prevNext(-1)">&#10094;</div>
    <div class="arrow next" onclick = "prevNext(1)">&#10095;</div>

    <div class="slideNum" style="position: absolute;">
        <span id="thisSlide" style="opacity: 0;">0</span><span id="allSlide" style="opacity: 0;">0</span>
    </div>

    <div class = slide_show>
    <article class="slides">
        <img src="/images/main/main_1.jpg" alt="">
    </article><!--1-->
    <article class="slides">
        <img src="/images/main/main_2.jpg" alt="">
    </article><!--2-->
    <article class="slides">
        <img src="/images/main/main_3.jpg" alt="">
    </article><!--3-->
    <article class="slides">
        <img src="/images/main/main_4.jpg" alt="">
    </article><!--4-->
    </div>
</section><!-- } container-->

<!--pager {-->
<section id="pager">
    <span class="dots on" onclick="currentSlide(1)"></span>
    <span class="dots" onclick="currentSlide(2)"></span>
    <span class="dots" onclick="currentSlide(3)"></span>
    <span class="dots" onclick="currentSlide(4)"></span>
</section><!--pager }-->




<!-- 스크립트 -->
<script src="/assets/js/main/slide.js"></script>

    
    <div class="big-box-1">
        <div class="name-box">
            <p class="box-name">최신 아티스트</p>
        </div>
        <div class="small-box">
<!--            <div class="left" th:each="rank : ${rankingList}" th:if="${rank.rankingCount}<2">-->
<!--                <div>-->
<!--                    <a th:href="@{/artist/artistInfo(artistNumber = ${rank.artistNumber})}">-->
<!--                    <img src="/images/main/big-poster.png" alt="#">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p id="big-poster-text1" th:text="${rank.artistName}"></p>-->
<!--                    <p id="big-poster-text2"></p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

        <div class="big-box-2">
            <div>
                <div class="name-box">
                    <p class="box-name">버스킹 예정</p>
                </div>
                <div>
                    <div class="small-5-box" style="text-align:center;" >

                    </div>
                    <div>
                        <a href="/concert/concertPlanList" class="more-link-box">버스킹 더보기+</a>
                    </div>
                </div>
            </div>

    <div class="big-box-3">
        <div class="name-box">
        <p class="box-name">작품 목록</p>
        </div>
        <div class="poster-list-6">
            <div class="poster-list">

            </div>
        </div>
    </div>
    </div>


<!--<footer th:include="~{/footer/footer :: foot}">-->

</footer>

</body>
<!-- 백그라운드 이미지 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/assets/js/main/main.js"></script>
<script src="/assets/js/main/slide.js/"></script>

<script>

    // let pageNum = 1;
    // let type = "A";
    // let tagN = "";
    // let artistSortingType = "new";
    // let page = 1;


</script>
</html>