<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/assets/css/header/header2.css">
</head>
<body>
    <header class="header-box">
        <div class="black-box">
            <div class="black-box-right">
                <a href="https://www.yes24.com/Templates/FTLogin.aspx?ReturnURL=http://ticket.yes24.com/New/Genre/GenreMain.aspx&amp;&amp;ReturnParams=genre=15456`Gcode=009_202_001" id="consiceLogin">로그인</a>
                <a href="http://www.yes24.com/Member/FTMypageMain.aspx" target="_blank">마이페이지</a>
                <a href="http://www.yes24.com/Mall/Help/Main" target="_blank">회원가입</a>
            </div>
            <div class="white-box" style="height:100px"></div>
            <div class="header-left">
                <a href="" class=""></a>
            </div>
            <div class="header-menu" style="left: 230px; transform: none;">
                <h2 style="height: auto;">
                <a href="">
                    <span>

                    </span>
                </a>
                </h2>
                <h2></h2>
                <h2></h2>
                <h2></h2>
                <h2></h2>
                <h2></h2>
            </div>
        </div>
    </header>
</body>
</html>