<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="BUSKERS - 퍼포먼스 공연예정" />
    <meta property="og:type" content="website" />
    <meta property="og:description" />
    <meta property="fb:app_id" />
    <title>BUSKERS</title>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery-3.4.1_min.js'>

    </script>
  <!-- Google Tag Manager 연결-->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l]
    .push({
        'gtm.start': new Date().getTime(),event:'gtm.js'
        });
        var f=d.getElementsByTagName(s)[0],j=d
        .createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode
        .insertBefore(j,f);})
        (window,document,'script','dataLayer','GTM-PVHFWWM');
        </script>
        
    <!-- Google Tag Manager -->
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/swiper_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Chart.bundle_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/utils.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.mCustomScrollbar_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/common.js?v=505'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.lazy.min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.cookie.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.url.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/base64.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/babel.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/polyfill.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Main.js?v=505'></script>
    
   
    <link rel='stylesheet' type='text/css' href='/static/assets/css/concertPlan/reset.css' />
  <link rel='stylesheet' type='text/css' href='/static/assets/css/concertPlan/swiper.css' />
  <link rel='stylesheet' type='text/css' href='/static/assets/css/concertPlan/common.css' /> 
  <link rel='stylesheet' type='text/css' href='/static/assets/css/concertPlan/show.css' />

  <style type="text/css">
    .perform-top{
        overflow:visible 
        !important;
    }
    .body{
        font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
    }
  </style>

</head>
<body>
    <section class='m2-sec02'>
    <div class='m2-tit'>퍼포먼스 공연예정</div>

    <div class='ms-list-imgs'>
        <a href='' target='_self' title='퍼포먼스1'>
            <div class='list-bigger-wrap'>
                <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='/show_view' />
                <div class='list-bigger-txt'>
                    <p class='list-b-tit1'>퍼포먼스1</p>
                    <p class='list-b-tit2'>[홍대] 홍대 걷고싶은 거리</p>
                    <p class='list-b-circle'>D-1</p>
                </div>
            </div>
        </a>
        <a href='' target='_self' title='퍼포먼스2'>
            <div class='list-bigger-wrap'>
                <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
                <div class='list-bigger-txt'>
                    <p class='list-b-tit1'>퍼포먼스2</p>
                    <p class='list-b-tit2'>[홍대] 홍대 걷고싶은 거리 광장무대/여행무대</p>
                    <p class='list-b-circle'>D-2</p>
                </div>
            </div>
        </a>
        <a href='' target='_self' title='퍼포먼스3'>
            <div class='list-bigger-wrap'>
                <img class='lazyload' src='/static/images/concertPlan//img5.jpg' alt='' />
                <div class='list-bigger-txt'>
                    <p class='list-b-tit1'>퍼포먼스3</p>
                    <p class='list-b-tit2'>[홍대] 경의선 숲길(연남동 구간)</p>
                    <p class='list-b-circle'>D-3</p>
                </div>
            </div>
        </a>
        <a href='' target='_self' title='퍼포먼스4'>
            <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스4</p>
                <p class='list-b-tit2'>[홍대] 홍대 애경타워 버스킹존</p>
                <p class='list-b-circle'>D-4</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스5'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스5</p>
                <p class='list-b-tit2'>[신촌] 연세로 뮤직스트리트</p>
                <p class='list-b-circle'>D-5</p>
            </div>
        </div>
    </a>
</div>
<div class='ms-list-imgs'>
    <a href='' target='_self' title='퍼포먼스6'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스6</p>
                <p class='list-b-tit2'>[송파] 잠실종합운동장 시민참여관</p>
                <p class='list-b-circle'>D-5</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스7'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스7</p>
                <p class='list-b-tit2'>[송파] 잠실종합운동장 쉼터 및 거리공연</p>
                <p class='list-b-circle'>D-7</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스8'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스8</p>
                <p class='list-b-tit2'>[선유도] 선유도 공원(원형광장)</p>
                <p class='list-b-circle'>D-8</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스9'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스9</p>
                <p class='list-b-tit2'>[구로] 고척스카이돔 야외 공연장</p>
                <p class='list-b-circle'>D-9</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스10'>
        <div class='list-bigger-wrap'>
            <img class='lazyload'src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스10</p>
                <p class='list-b-tit2'>[마포] 서울월드컵경기장 월드컵광장</p>
                <p class='list-b-circle'>D-10</p>
            </div>
        </div>
    </a>
</div>
<div class='ms-list-imgs'>
    <a href='' target='_self' title='퍼포먼스11'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스11</p>
                <p class='list-b-tit2'>[송파] 잠실종합운동장 시민참여관</p>
                <p class='list-b-circle'>D-11</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스12'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스12</p>
                <p class='list-b-tit2'>[송파] 잠실종합운동장 쉼터 및 거리공연</p>
                <p class='list-b-circle'>D-12</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스13'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스13</p>
                <p class='list-b-tit2'>[선유도] 선유도 공원(원형광장)</p>
                <p class='list-b-circle'>D-13</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스14'>
        <div class='list-bigger-wrap'>
            <img class='lazyload' src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스14</p>
                <p class='list-b-tit2'>[구로] 고척스카이돔 야외 공연장</p>
                <p class='list-b-circle'>D-14</p>
            </div>
        </div>
    </a>
    <a href='' target='_self' title='퍼포먼스15'>
        <div class='list-bigger-wrap'>
            <img class='lazyload'src='/static/images/concertPlan/img5.jpg' alt='' />
            <div class='list-bigger-txt'>
                <p class='list-b-tit1'>퍼포먼스15</p>
                <p class='list-b-tit2'>[마포] 서울월드컵경기장 월드컵광장</p>
                <p class='list-b-circle'>D-15</p>
            </div>
        </div>
    </a>
</div>

</section>



</body>
</html>