<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>진행중인 콘서트</title>
    <link rel="stylesheet" href="/assets/css/concertLive/concertLive.css"/>
    <link rel="stylesheet" href="/assets/css/concertLive/showLiveModal.css"/>


    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/reset.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/swiper.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/common.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show_view.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/showPageReply.css'/>


    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // 해야할 일
        // 1. 슬라이드 반응형 조절 (브라우저 크기가 너무 작을때 망가지는건 상관없는데 적당한 크기에서 잘 나와야 함)
        // 2. 지도에서 마커의 인포윈도우 레이아웃 수정, a태그로 버튼 만들었는데 눌렀을 때 길찾기나 지도보기가 나와야 함 (밑에 카카오지도 api사용한부분에 어디 수정하면 되는지 주석 달아놨음 참고 할 것)
        // 3. 지금 메인배너 슬라이드가 미묘하게 센터가 안맞는데 조절해야 함
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    </script>

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Slick 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    <script type="text/javascript">
        $.noConflict();
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<header th:include="~{/header/header3 :: head}">

</header>
<body class="modal_background">
<!-- style 은 slick 영역 확인용 -->
<!--<section class="main_banner">-->
<!--    <div id="slider-div">-->
<!--        <div class="slider_item">-->
<!--            <a href="">-->
<!--                <img src="http://tkfile.yes24.com/Upload2/Display/202205/20220518/gmain_top_42246.jpg/dims/quality/70/"-->
<!--                     alt="시드 내한공연">-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="slider_item">-->
<!--            <a href="">-->
<!--                <img src="http://tkfile.yes24.com/Upload2/Display/202205/20220518/gmain_top_42246.jpg/dims/quality/70/"-->
<!--                     alt="시드 내한공연">-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="slider_item">-->
<!--            <a href="">-->
<!--                <img src="http://tkfile.yes24.com/Upload2/Display/202205/20220518/gmain_top_42246.jpg/dims/quality/70/"-->
<!--                     alt="시드 내한공연">-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="slider_item">-->
<!--            <a href="">-->
<!--                <img src="http://tkfile.yes24.com/Upload2/Display/202205/20220518/gmain_top_42246.jpg/dims/quality/70/"-->
<!--                     alt="시드 내한공연">-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="slider_item">-->
<!--            <a href="">-->
<!--                <img src="http://tkfile.yes24.com/Upload2/Display/202205/20220510/gmain_top_42123.jpg/dims/quality/70/"-->
<!--                     alt="나훈아 전국투어 DREAM 55">-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<div class="showIng-flexBox">
    <section class="concerting">
        <div class="sm-tit"><p class="ing-text">BUSKER's 실시간공연</p></div>
        <div class="location_division">
            <a id="1" class="showIng-location" href="javascript:getList(37.541, 126.986, 8)">서울</a>
            <a id="2" class="showIng-location" href="javascript:getList(37.437, 127.126, 11)">경기</a>
            <a id="3" class="showIng-location" href="javascript:getList(36.474340834171, 127.27341647562, 11)">충청</a>
            <a id="4" class="showIng-location" href="javascript:getList(37.75147, 128.89099, 11)">강원</a>
            <a id="5" class="showIng-location" href="javascript:getList(35.37131, 127.1286, 11)">전라</a>
            <a id="6" class="showIng-location" href="javascript:getList(35.85, 128.56, 11)">경상</a>
            <a id="7" class="showIng-location" href="javascript:getList(33.450701, 126.570667, 8)"
               style="border-right: 1px solid #ddd;">제주</a>
        </div>
        <div class="concerting_list">
            <div id="map" style=" border: 1px solid #ddd;border-radius: 30px; width:100%;height:700px;"></div>
        </div>

    </section>
    <div>
        <div class="sm-tit"><p style="padding-bottom: 10px;">Busking Today in<span class="ing-text showIng-region"
                                                                                   style="margin-left: 17px;"></span>
        </p>
            <p class="mini-notice" style="position: absolute;font-size: 15px;bottom: -10px;color: #9a9494;"></p>
        </div>
        <section class="show-wrap showIng">


        </section>
    </div>
</div>

<div class="concertLive-modal">

    <div class="modal-back">
        <div id="modal" class="modal-overlay" style="display: flex; display: none;">
            <div class="modal-window">
                <div class="modal-showInfo">
                    <div class="modal-title">
                        <div class="title">
                        </div>
                        <div class="close-area"></div>
                    </div>
                    <div class="content">
                        <div class="modal-infoTitle"></div>
                        <div class="renew-content-modal">
                            <div class="modalShowDiv">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btn-modal" style="display: none;">모달</button>
</div>

<footer th:include="~{/footer/footer :: foot}">

</footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    // // 매인배너 슬라이더
    // $(function(){
    //     $('#slider-div').slick({
    //         centerMode: true,
    //         centerPadding: '680px',
    //         slide: 'div',        //슬라이드 되어야 할 태그 ex) div, li
    //         infinite : true,     //무한 반복 옵션
    //         slidesToShow : 1,        // 한 화면에 보여질 컨텐츠 개수
    //         slidesToScroll : 1,        //스크롤 한번에 움직일 컨텐츠 개수
    //         speed : 100,     // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
    //         arrows : true,         // 옆으로 이동하는 화살표 표시 여부
    //         dots : true,         // 스크롤바 아래 점으로 페이지네이션 여부
    //         autoplay : true,            // 자동 스크롤 사용 여부
    //         autoplaySpeed : 2000,         // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
    //         pauseOnHover : true,        // 슬라이드 이동    시 마우스 호버하면 슬라이더 멈추게 설정
    //         vertical : false,        // 세로 방향 슬라이드 옵션
    //         prevArrow : "<button type='button' class='slick-prev'>Previous</button>",        // 이전 화살표 모양 설정
    //         nextArrow : "<button type='button' class='slick-next'>Next</button>",        // 다음 화살표 모양 설정
    //         dotsClass : "slick-dots",     //아래 나오는 페이지네이션(점) css class 지정
    //         draggable : true,     //드래그 가능 여부
    //
    //         responsive: [ // 반응형 웹 구현 옵션
    //             {
    //                 breakpoint: 2400, //화면 사이즈 2400px
    //                 settings: {
    //                 //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
    //                 slidesToShow:1, // 이거 건들 ㄴㄴ
    //                 centerPadding: '700px' // 이거 수치 조정하면 슬라이드 사이 간격이 늘었다 줄었다 함
    //                 }
    //             },
    //             {
    //                 breakpoint: 1910, //화면 사이즈 1910px
    //                 settings: {
    //                 //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
    //                 centerPadding: '610px'
    //                 }
    //             },
    //             {
    //                 breakpoint: 1500, //화면 사이즈 1500px
    //                 settings: {
    //                 //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
    //                 slidesToShow:1,
    //                 centerPadding: '450px'
    //                 }
    //             }
    //         ]
    //     });
    // })

</script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=82047bdd8e65a83db82f7ecba662d0c3&libraries=services"></script>
<script>


    // 지역 클릭시 버튼 색상 변경
    $(".location_division a").on('click', function (e) {
        $(".location_division a").removeClass("on"); // 적용중이던 on 클래스를 빼고
        $(e.target).addClass("on"); // 클릭한 a태그에 on 클래스 주기
    })

    // 지역별로 여러개의 마커가 찍힐 위치 객체 (백작업시 JSON Array로 받아와서 객체로 변환한 후 each문 돌려서 마커 찍으면 될거같음 (아마도?))
    let markerLocation = [];

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // ajax
    let showIngService = (function () {
        function regionList(region, callback, error) {
            $.ajax({
                url: "/concert/concertLive/" + region,
                type: "get",
                dateType: "json",
                contentType: "application/json",
                success: function (ShowPageDTO) {
                    if (callback) {
                        callback(ShowPageDTO.total, ShowPageDTO.list);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }

            })
        }


        function goShowInfo(showNumber, callback, error) {
            $.ajax({
                url: "/concert/concertInfo/" + showNumber,
                type: "get",
                dateType: JSON.stringify(callback),
                contentType: "application/json",
                success: function (showVO) {
                    if (callback) {
                        callback(showVO);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }
            })
        }


        return {regionList: regionList, goShowInfo: goShowInfo}
    })();

    let region = 0;

    function regionListChange(region) {
        showIngService.regionList(region, function (total, ingList) {
            $.each(ingList, function (i, ing) {
                // 지도에 꼽기위해 lng,
                // 주소로 좌표를 검색합니다
                geocoder.addressSearch(ing.showAddress, function (result, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {
                        // 좌표로 변환
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                        markerLocation.push({lng: result[0].y, lon: result[0].x, loc: ing.showLocation, number: ing.showNumber});
                        getList(36.474340834171, 127.27341647562, 13);
                    }
                });
            })
        }, function (a, b, c) {
            console.log(a, b, c)
        });
    }

    // 지역별로 좌표와 지도 스케일을 매개변수로 받아서 지도를 출력시킴
    let getList = function (mapX, mapY, scale) {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(mapX, mapY), // 지도의 중심좌표
                level: scale // 지도의 확대 레벨
            };
        // 지도를 생성합니다
        let map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커 여러개 찍기
        $.each(markerLocation, function (i, item) {
            // 마커가 표시될 위치입니다
            var markerPosition = new kakao.maps.LatLng(item.lng, item.lon);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
            // iwContent 여기서 태그들 수정하면 인포윈도우에 출력되는 레이아웃 수정 가능!
            var iwContent = '<div style="padding:8px 5px 5px 18px; width:100px; height:100px;" class="iw">' +
                '<p class="info_txt">공연 위치</p><br><p class="info_txt2">' + item.loc + '</p>' +
                '<a href="https://map.kakao.com/link/map/공연위치,' + item.lng + ',' + item.loc + '" target="_blank">큰지도보기</a> ' +
                '<a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" target="_blank">길찾기</a>' +
                '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(item.lng, item.lon); //인포윈도우 표시 위치입니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position: iwPosition,
                content: iwContent,
                removable: iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                console.log(markerLocation[i][Object.keys(markerLocation[i])[3]])
                concertIngInfo(markerLocation[i][Object.keys(markerLocation[i])[3]]);
                // 마커 위에 인포윈도우를 표시합니다C
                // infowindow.open(map, marker);
            });
        })
    }


    // 기본 전역변수
    let showDiv = $(".show-wrap");
    let modalShowTitle = $(".modal-infoTitle");
    let modalShowInfo = $(".modalShowDiv");
    let showRegion = $(".showIng-region");
    let miniNotice = $(".mini-notice");

    // div 변하는 function 선언
    function concertIngList(region) {
        showIngService.regionList(region, function (total, list) {
            let str = "";
            if (list == null || list.length == 0) {
                str += "<div class='non-show'>오늘의 공연이 없습니다.</div>"
                showDiv.html(str);
                // showRegion.html("");
                return;
            }



            $.each(list, function (i, show) {
                let infoNumber = Number(show.showNumber);

                $.getJSON("/file/concert/file", {showNumber: infoNumber}, function(file){
                    let src = "/file/concert/display?fileName=" + file.uploadPath + "/" + file.uuid + "_"  + file.fileName;
                    $("#img-" + infoNumber).attr("src", src);
                })


                str += "<a class='goRead' href='/concert/concertPlanInfo?&showNumber=" + infoNumber + "' target='_self'>"
                str += "<div class='list-bigger-wrap'><div class='image-wrap'>"
                str += "<img id='img-" + infoNumber + "' class='lazyload' src='' alt='/show_view'/></div>"
                str += "<div class='list-bigger-txt'>"
                str += "<p class='list-b-tit1'>" + show.showName + "</p>"
                str += "<p class='list-b-tit2'>" + show.showRegion + show.showLocation + "</p>"
                str += "<p class='list-b-circle concerlive-circle'>" + show.showTime + "</p>"
                str += "</div>"
                str += "</div>"
                str += "</a>"

                if(i == 6) {
                    return false;
                }
            });

            showDiv.html(str);
        }, function (a, b, c) {
            console.log(a, b, c)
        });
    }

    // 인포창 modal 변하는 function 선언
    function concertIngInfo(showNumber) {
        modalShowTitle.html("");
        modalShowInfo.html("");
        showIngService.goShowInfo(showNumber, function (showVO) {
            console.log(showVO);
            let title = "";
            title += '<div class="renew-content-modal"><div class="rn-01"><p class="rn-location">'
            title += '<p><a id="goList" href="/concert/concertPlanList">버스킹 ></a><a href="#">' + " " + showVO.showCategory + '</a>'
            title += '</p></div><div class="rn-02">'
            title += '<p class="rn-big-title">' + showVO.showName + '</p>'
            title += '<div class="rn-product-short-data">'
            title += '<p><span class="ps-date">' + showVO.showDay + '</span><a href="#" id="ps-location">'
            title += '<span class="ps-location">' + "[" + showVO.showRegion + "]" + showVO.showLocation + '</span></a></p>'
            title += '</div></div></div>';

            let str = "";
            str += '<div class="modal-left" style="padding-top: 14px; width: 293px; height: 408px;" >';
            str += "<img id='modal-" + showNumber + "' class='lazyload' src='' alt='/show_view' style='width: 293px!important; height: auto!important;'/>"
            // str += "<img src='http://tkfile.yes24.com/upload2/perfblog/202206/20220613/20220613-42494.jpg/dims/quality/70/' width='293px !important' height='408px !important'/>";
            str += '<div class="rn-product-maps" id="divPerfRelation" style="display:none;"></div>';
            str += '<a href="javascript:;" class="rn-product-good"></a></div>';
            str += '<div class="modal-right" style="padding-left: 40px; padding-top: 20px;"><div class="rn-product-area1"><dl>';
            str += '<dt>버스커</dt><dd><a href="">' + showVO.artistName + '</a>&nbsp</dd>';
            str += '<dt>공연일자</dt><dd>&nbsp;' + showVO.showDay + '</dd>';
            str += '<dt>공연시간</dt><dd>&nbsp' + showVO.showTime + '</dd>';
            str += '<dt>공연장소</dt><dd>&nbsp;' + showVO.showAddress + '</dd>';
            str += '<dt>상세주소</dt><dd>&nbsp;' + showVO.showLocation + '</dd>';
            str += "</dl></div><a class='goRead-modal' href='/concert/concertPlanInfo?&showNumber=" + showVO.showNumber + "' target='_self'>자세히 보기</a>"
            // str += '</dl></div><a class="goRead-modal" href="/concert/concertPlanInfo?&showNumber="' + showVO.showNumber + 'target="_self">자세히 보기</a>';
            str += '<a class="roadGo" href="https://map.kakao.com/link/search/' + showVO.showAddress + '" target="_self">길찾기</a></div>';

            modalShowTitle.html(title);
            modalShowInfo.html(str);

            $.getJSON("/file/concert/file", {showNumber: showNumber}, function(file){
                let src = "/file/concert/display?fileName=" + file.uploadPath + "/" + file.uuid + "_"  + file.fileName;
                $("#modal-" + showNumber).attr("src", src);
            })

            modal.style.display = "flex";
        }, function (a, b, c) {
            console.log(a, b, c)
        });
    }

    let currentCategory = ".all";

    function categoryChange(e) {
        $(currentCategory).attr("id", "non-current");
        currentCategory = e;
        $(currentCategory).attr("id", "current");
    }

    $("a.goRead").click(function (e) {
        e.preventDefault();
        location.href = "/concert/concertPlanInfo&showNumber=" + $(this).attr('href');
    });

    $("a.goRead-modal").click(function (e) {
        e.preventDefault();
        location.href = "/concert/concertPlanInfo&showNumber=" + $(this).attr('href');
    });

    // 새로고침 기본값
    let regionText = "전국";
    let mini = "";


    $(document).ready(function () {
        region = 0
        regionListChange(region);
        showRegion.text(regionText);
        mini += "*" + regionText + " 지역에서 곧 시작되는 공연이 노출됩니다.";
        miniNotice.text(mini);
    })

    // 지역 text 출력
    $(".showIng-location").click(function () {
        regionTextChange($(this).text());
        concertIngList($(this).attr('id'));
    })

    // text 바꾸는 function
    function regionTextChange(e) {
        showRegion.text("");
        regionText = e;
        showRegion.text(e);
        mini = ""
        mini += "*" + regionText + " 지역에서 곧 시작되는 공연이 노출됩니다.";
        miniNotice.text(mini);

    }

    $(document).ready(function () {
        // 새로고침 첫 실행 (type : A, pageNum : 1 (기본값))
        concertIngList(region);
    })

    // 모달창

    const modal = document.getElementById("modal");
    const btnModal = document.getElementById("btn-modal");
    btnModal.addEventListener("click", (e) => {
        modal.style.display = "flex";
        e.preventDefault();
    });

    const closeBtn = modal.querySelector(".close-area");
    closeBtn.addEventListener("click", (e) => {
        modal.style.display = "none";
    });

    modal.addEventListener("click", (e) => {
        const evTarget = e.target;
        if (evTarget.classList.contains("modal-overlay")) {
            modal.style.display = "none";
        }
    });

    window.addEventListener("keyup", (e) => {
        if (modal.style.display === "flex" && e.key === "Escape") {
            modal.style.display = "none";
        }
    });

    // 프로필 사진 기본이미지로 변경
    $("#sample-profile-image").click(function () {
        $("#img-sample").attr("src", "/static/images/mypage/user-icon.png");
    });


</script>

</html>