<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="BUSKERS - 공연예정"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"/>
    <meta property="fb:app_id"/>
    <title>BUSKERS</title>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery-3.4.1_min.js'>

    </script>
    <!-- Google Tag Manager 연결-->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l]
                .push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
            var f = d.getElementsByTagName(s)[0], j = d
                .createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode
                .insertBefore(j, f);
        })
        (window, document, 'script', 'dataLayer', 'GTM-PVHFWWM');


    </script>

    <!-- Google Tag Manager -->
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/swiper_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Chart.bundle_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/utils.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.mCustomScrollbar_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.lazy.min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.cookie.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery.url.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/base64.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/babel.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/polyfill.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Main.js?v=505'></script>


    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/reset.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/swiper.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/common.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/showPageReply.css'/>


    <style type="text/css">
        .perform-top {
            overflow: visible !important;
        }

        .body {
            font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
        }

        .replyImg-wrap {
            width: 80px;
            height: 112px;
            overflow: hidden;
        }

        .replyImg {
            transform: scale(1.08);
            display: block;
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .ms5-l-txt {
            margin-left: 12px !important;
        }

        .newArtist-img-wrap {
            width: 167px;
            height: 234px;
            overflow: hidden;
        }

        .newArtist {
            transform: scale(1.08);
            display: block;
            transition: all 0.3s;
            width: 100px;
            height: 100%;
            object-fit: cover;
        }

        .ms5-r-tit {
            height: 127px !important;
        }
    </style>

</head>
<header th:include="~{/header/header3 :: head}">

</header>

<body>
<div class='sm-tit'><p class="ing-text">BUSKER's 공연예정 </p></div>

<section class="show-m2-sec05">
    <div class="ms5-wrap flex-plan">
        <div class="ms5-l">
            <p class="ms5-l-tit">
                BUSKING RANKING
                <!--                <a href='#'>-->

                <!--                    <img src='/images/concertPlan/view.png' alt=''/>-->

                <!--                </a>-->
            </p>
            <p class="gray-text">*댓글 수를 기준으로 집계됩니다.</p>
            <ul>

                <th:block th:each="Ranking: ${replyRanking}">
                    <li class='' th:object="${Ranking}">
                        <a th:href='|/concert/concertPlanInfo?showNumber=*{showNumber}|' title=''>
                            <dl>
                                <dl>
                                    <dl>
                                        <dl>
                                            <dt th:text="|*{replyRanking}위|"></dt>
                                            <dd>
                                                <div class="replyImg-wrap">
                                                    <img th:id="*{showNumber}"
                                                         th:class="|replyImg replyImg-*{showNumber}|"
                                                         src='/images/concertPlan/img3.jpg' alt=''/>
                                                </div>
                                            </dd>
                                            <dd class='ms5-l-txt'>
                                                <p class='ms5-l-txt1' th:text="|*{showName} (*{replyCount})|"></p>
                                                <p class='ms5-l-txt2' th:text="|*{showDay} *{showTime}|"></p>
                                                <p class='ms5-l-txt2' th:text="|*{showRegion}*{showLocation}|"></p>
                                            </dd>
                                        </dl>
                                    </dl>
                                </dl>
                            </dl>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="ms5-r">
            <p class="ms5-r-tit">
                <span>신인 아티스트</span>
            </p>
            <div class="ms5-rs-wrap">
                <div class="swiper-container ms5-rs">
                    <th:block th:each="artist:${artistVO}">
                        <div th:object="${artist}" class="swiper-wrapper">

                            <div class='swiper-slide'>
                                <a th:href='|/artist/artistInfo?&artistNumber=*{artistNumber}|' target='_self'>
                                                        <span class="newArtist-img-wrap">
                                                            <img th:id="*{artistNumber}"
                                                                 th:class="|newArtist newArtist-*{artistNumber}|"
                                                                 src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/21/05/0400042105_47574_02.407.gif"
                                                            />
                                                        </span>
                                    <div>
                                        <p class='ms5-r-txt111' th:text="*{artistName}"></p>
                                        <p class='ms5-r-txt2' th:text="*{artistCategory}"></p>
                                    </div>
<!--                                    <p class=""><img th:class="|like-button like-*{artistNumber}|"-->
<!--                                                                       th:id="*{artistNumber}"-->
<!--                                                                       src="/images/myPage/non-heart-icon.png"-->
<!--                                                                       width="30px"></p>-->
                                </a>
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="swiper-button-next ms5-rs"></div>
            </div>
        </div>
    </div>
</section>
<div class='sm-tit1'>
    <a id="current" class='sm-tit2 showCategory all'>전체</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class='sm-tit2 showCategory musician'>뮤지션</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class='sm-tit2 showCategory performance'>퍼포먼스</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class='sm-tit2 showCreate' href="">공연등록</a>
</div>
<section class='m2-sec02'>
    <div class='show-title'>BUSKER's COMING SOON</div>
    <div class='show-wrap'>
    </div>

    <div class="paging"></div>
</section>


<footer th:include="~{/footer/footer :: foot}">

</footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript" src="/assets/js/concert/concertAjax.js"></script>
<script th:inline="javascript">
    let sessionUserNumber = [[${session.userNumber}]];
    let sessionArtistNumber = [[${session.artistNumber}]];
    $(".showCreate").click(function (e) {
        e.preventDefault();
        if (sessionUserNumber == null) {
            alert("로그인 후 이용해주세요.")
            return;
        }
        if (sessionArtistNumber == null) {
            if (confirm("아티스트 계정 등록 후 이용하실 수 있습니다. 계정을 등록하시겠습니까?")) {
                location.href = "/myPage/myPage";
                return;
            } else {
                return;
            }
        }

        location.href = "/concert/concertPlanRegister";
    })

    if (($(location).attr('host')) == "http://localhost:10007/main/") {

    }

    $(".replyImg").each(function () {
        let showNumber = Number($(this).attr('id'));
        $.getJSON("/file/concert/file", {showNumber: showNumber}, function (file) {
            let src = "/file/concert/display?fileName=" + file.uploadPath + "/" + file.uuid + "_" + file.fileName;
            $("img.replyImg-" + showNumber).attr("src", src);
        })
    })

    $(".newArtist").each(function () {
        console.log("1")
        let artistNumber = Number($(this).attr('id'));
        console.log("2")

        $.getJSON("/file/artist/find", {artistNumber: artistNumber}, function (file) {
            console.log(file)
            let src = "/file/artist/display?fileName=" + file.uploadPath + "/" + file.uuid + "_" + file.fileName;
            $("img.newArtist-" + artistNumber).attr("src", src);
        })
    })


</script>
</html>