<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="BUSKERS - 공연예정"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"/>
    <meta property="fb:app_id"/>
    <title>상세보기</title>

    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/reset.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/swiper.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/common.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/show_view.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/concertPlan/showPageReply.css'/>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })
        (window, document, 'script', 'dataLayer', 'GTM-PVHFWWM');
    </script>

    <!-- End Google Tag Manager -->
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/swiper_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/Chart.bundle_min.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jquery-ui.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jry_home_jdefault.js'></script>
    <script type='text/javascript' src='http://tkfile.yes24.com/New/Js/jry_home_jdialog.js'></script>
    <script type='text/javascript' src='/inc/js/jry_default_new.js?v=388'></script>

    <style type="text/css">
        body {
            font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
        }

        .customoverlay {
            position: relative;
            bottom: 85px;
            border-radius: 6px;
            border: 1px solid #ccc;
            border-bottom: 2px solid #ddd;
            float: left;
        }

        .customoverlay:nth-of-type(n) {
            border: 0;
            box-shadow: 0px 1px 2px #888;
        }

        .customoverlay a {
            display: block;
            text-decoration: none;
            color: #000;
            text-align: center;
            border-radius: 6px;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            background: #d95050;
            background: #ec7d2c url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
        }

        .customoverlay .title {
            display: block;
            text-align: center;
            background: #fff;
            margin-right: 35px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: bold;
        }

        .customoverlay:after {
            content: '';
            position: absolute;
            margin-left: -12px;
            left: 50%;
            bottom: -12px;
            width: 22px;
            height: 12px;
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
        }

        .rn-product-imgbox li {
            width: 430px;
            height: 600px;
            position: relative;
             display: flex;
            align-items: center;
        }

    </style>

</head>
<header th:include="~{/header/header3 :: head}">

</header>

<body>
<div class="concertWrap" th:object="${concert}">
    <div class="rnew-top-wrap">
        <div class="rnew-top">
            <div class="rntop-img">

                <img src='/images/concertPlan/img3.jpg'/>

            </div>
        </div>
    </div>

    <div class="renew-wrap">
        <div class="renew-content">
            <div class="rn-01">
                <p class="rn-location">
                <p><a id="goList" href="/concert/concertPlanList">버스킹 ></a><a class="artistSearch" href='' th:text="| *{showCategory}|"></a>
                </p>
            </div>
            <div class="rn-02">
                <p class="rn-big-title" th:text="*{showName}"></p>
                <div class="rn-product-short-data">
                    <p><span class="ps-date" th:text="*{showDay}"></span><a th:href="|https://map.kakao.com/link/search/*{showAddress}
|" id="ps-location" target="_blank"><span
                            class="ps-location" th:text="|[*{showRegion}] *{showLocation}|"></span></a>
                    </p>
                    <a style="cursor: pointer; display: none;" class="ps-social modify showInfo-modify">
                        <img src="/images/concertPlan/c.png" style="float: right; width:35px;">
                    </a>
                    <a style="cursor: pointer;  display: none;"  class="ps-social delete showInfo-delete">
                        <img src="/images/concertPlan/delete_icon.png" style="float: right; width:67px; height: 59px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="movie-pop-wrap">
        <div class="movie-pop-bg">
            <div class="movie-pop">
                <div class="movie-list">

                    <div class="swiper-container">
                        <div class="swiper-wrapper"></div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="movie-area" id="playerPerf"></div>
                <a href="#" class="movie-area-close"><img
                        src="http://tkfile.yes24.com/imgNew/common/movie-list-btn-close.png" alt=""/></a>
            </div>
        </div>
    </div>

    <div class="renew-wrap rw2">
        <div class="renew-content">
            <div class="rn-03">

                <div class="rn-03-left">
                    <div class="rn-product-imgbox">

<!--                        <img src='/images/concertPlan/img3.jpg'/>-->
X
                    </div>
                    <div class="rn-product-maps" id="divPerfRelation" style="display:none;"></div>
                    <div class="rn-product-social">
                        <a href="javascript:;" class="rn-product-good"></a>
                    </div>

                </div>

                <div class="rn-03-right">
                    <div class="rn-product-area1">
                        <dl>
                            <dt>버스커</dt>
                            <dd><a th:href="|/artist/artistInfo?artistNumber=*{artistNumber}|" th:text="*{artistName}"></a>&nbsp</dd>
                            <dt>공연일자</dt>
                            <dd th:text="*{showDay}">&nbsp;</dd>
                            <dt>공연시간</dt>
                            <dd th:text="*{showTime}">&nbsp;</dd>
                            <dt>공연장소</dt>
                            <dd th:text="*{showAddress}">&nbsp;</dd>
                            <dt>상세주소</dt>
                            <dd th:text="*{showLocation}">&nbsp;</dd>
                            <dt>상세설명</dt>
                            <dd th:text="*{showContent}">&nbsp;</dd>
                        </dl>
                    </div>
                    <dt>찾아오는 길</dt>
                </div>
                <!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.980690669747!2d126.91928172782173!3d37.55551871519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c98c3106ebb65%3A0x227598a416b2090!2z7ZmN64yAIOqxt-qzoOyLtuydgOqxsOumrA!5e0!3m2!1sko!2skr!4v1655124481098!5m2!1sko!2skr"-->
                <!--                        width="600" height="400" style="position: absolute; top:200px;left:500px;" allowfullscreen=""-->
                <!--                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                <div id="map" style="width:698px; height:332px; position: absolute; top:262px;left:500px;"></div>


            </div>

        </div>


        <div class="rn-tab-boxes">
            <div class="rn-tab-area rn-08 on" id="rn-tab01" style="display:block;">
                <div class="rn-0801">
                    <div class="rn08-tbl rn-0801-tbl">
                        <table>
                            <caption></caption>
                        </table>
                    </div>
                </div>

                <div class="rn-0802">
                    <p class="rn08-tit">정보제공고시</p>
                    <div class="rn08-txt">
                        <div class="rn08-tbl rn08-tbl-plus">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col width="18.5%"/>
                                    <col width="31.5%"/>
                                    <col width="18.5%"/>
                                    <col width="31.5%"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row" class="rn08-tbl-tit2">주최/기획</th>
                                    <td>(주)BUSKERS</td>
                                    <th scope="row" class="rn08-tbl-tit2">상담</th>
                                    <td>02-1234-5678</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="rn08-tbl-tit2">버스커</th>
                                    <td th:text="*{artistName}"></td>
                                    <th scope="row" class="rn08-tbl-tit2">카테고리</th>
                                    <td th:text="*{showCategory}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="rn08-tbl-tit2">공연일시</th>
                                    <td><span th:text="*{showDay}"></span><br>
                                        <span th:text="*{showTime}"></span></td>
                                    <th scope="row" class="rn08-tbl-tit2">공연장소</th>
                                    <td><span th:text="*{showAddress}"></span><br>
                                        <span th:text="*{showLocation}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="rn08-tbl-tit2">관람시 주의사항</th>
                                    <td colspan="3">
                                        <div class="rn08-detail-box">

                                            <p>
                                                - 시민 보행로 확보 부탁드립니다.</br>
                                                - 지나친 소음은 삼가 부탁드립니다.</br>
                                                - 쓰레기는 쓰레기통에 버려주시기 바랍니다.</br>
                                                - 작품은 손대신 눈과 귀로 즐겨주세요.
                                            </p>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="rn-0801">
                    <div class="rn08-tbl rn-0801-tbl">
                        <table>
                            <caption></caption>
                        </table>
                    </div>
                </div>


            </div>
        </div>


        <!-- 댓글창 시작 -->
        <div id="reply-wrap">

            <strong id='reply-count'></strong>
            <div class="concert-reply-div">

            </div>

            <!--입력-->
            <div class="reply-form">
                <div class="reply-input">
                    <textarea name="replyShow" id="replyShow" placeholder="여러분의 소중한 댓글을 입력해주세요."></textarea>
                </div>
                <div class="reply-button">
                    <input class="finish" type="submit" value="등록">
                </div>
            </div>

            <!--페이징-->
            <div class="reply-paging">
                <!--                <a id="page-button-prev" href="">< Prev</a>-->
                <!--                <a id="page-button" href="">1</a>-->
                <!--                <a id="page-button-next" href="">Next ></a>-->
            </div>

        </div>
        <!-- 댓글창 끝 -->
    </div>
</div>
<footer th:include="~{/footer/footer :: foot}">

</footer>
</body>
<script src="/assets/js/concert/jquery.min.js"></script>
<script src="/assets/js/concert/jquery.dropotron.min.js"></script>
<script src="/assets/js/concert/browser.min.js"></script>
<script src="/assets/js/concert/breakpoints.min.js"></script>
<script src="/assets/js/concert/util.js"></script>
<script src="/assets/js/concert/main.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript" src="/assets/js/concert/concertInfo.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=82047bdd8e65a83db82f7ecba662d0c3&libraries=services"></script>
<script th:inline="javascript">
    // 세션 체크
    let sessionUserNumber = [[${session.userNumber}]]
    let sessionArtistNumber = [[${session.artistNumber}]]
    let showArtistNumber = [[${concert.artistNumber}]]
    let sessionUserCheck = false;
    if(!(sessionUserNumber == null)) { // 세션에 유저 넘버가 있으면
        sessionUserCheck = true; // true로 변경
    }
    let replyUserNumber = 0;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    let address = [[${concert.showAddress}]];
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function (result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            // var marker = new kakao.maps.Marker({
            //     map: map,
            //     position: coords
            // });


            /**/
//             var imageSrc = 'https://static-cdn.jtvnw.net/jtv_user_pictures/dde955e8-5fae-44dc-98db-79b3b14afea2-profile_image-50x50.png', // 마커이미지의 주소입니다
//                 imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
//                 imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
// // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
//             var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
//                 markerPosition = coords; // 마커가 표시될 위치입니다
// // 마커를 생성합니다
//             var marker = new kakao.maps.Marker({
//                 position: markerPosition,
//                 image: markerImage // 마커이미지 설정
//             });
// // 마커가 지도 위에 표시되도록 설정합니다
//             marker.setMap(map);
            /**/

            // // 인포윈도우로 장소에 대한 설명을 표시합니다
            // var infowindow = new kakao.maps.InfoWindow({
            //     content: '<div style="width:150px;text-align:center;padding:6px 0;"></div>'
            // });
            // infowindow.open(map, marker);

            // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            var content = '<div class="customoverlay" >' +
                '  <a href="https://map.kakao.com/link/search/' + [[${concert.showAddress}]]  +'" target="_blank">' +
                '<span class="title">' +
                '<img style="border-radius: 50% !important;" class="map-image" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/21/05/0400042105_47574_02.407.gif" width="50" height="50&quot;"></span>' +
                '  </a>' +
                '</div>';

            $.getJSON("/file/artist/find", {artistNumber: showArtistNumber}, function (file) {
                let src = "/file/artist/display?fileName=" + file.uploadPath + "/" + file.uuid + "_" + file.fileName;
                $("img.map-image").attr("src", src);
            })

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                map: map,
                position: coords,
                content: content,
                yAnchor: 1
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });


    //
    // let paging = [[${criteria.listLink}]];
    // let showNumber = [[${concert.showNumber}]];

    // 수정 버튼
    $("a.modify").click(function (e) {
        e.preventDefault();
        location.href = "/concert/concertPlanModify" + paging + "&showNumber=" + $(this).attr('href');
    });

    // 삭제 버튼
    $("a.delete").click(function (e) {
        e.preventDefault();
        if (confirm("글을 삭제하시겠습니까?")) {
            alert("공연이 삭제되었습니다.")
            location.href = "/concert/concertPlanDelete" + paging + "&showNumber=" + $(this).attr('href');
        }
    });

    // 공연예정 목록
    $("a#goList").click(function (e) {
        e.preventDefault();
        location.href = "/concert/concertPlanList" + paging;
    });


    // ajax 선언
    let showReplyService = (function () {
        function getListReply(showNumber, pageNum, callback, error) {
            $.ajax({
                url: "/reply/concert/replyList/" + showNumber + "/" + pageNum,
                type: "get",
                dataType: "json",
                contentType: "application/json",

                success: function (ShowReplyPageDTO) {
                    if (callback) {
                        callback(ShowReplyPageDTO.total, ShowReplyPageDTO.list);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }
            })
        }

        function createReply(showReplyVO, callback, error) {
            $.ajax({
                url: "/reply/concert/replyNew",
                type: "post",
                data: JSON.stringify(showReplyVO),
                contentType: "application/json",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }
            })
        }
        function modifyReply(replyNumber, showReplyVO, callback, error) {
            $.ajax({
                url: "/reply/concert/" + replyNumber,
                type: "post",
                data: JSON.stringify(showReplyVO),
                contentType: "application/json",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }

            })
        }

        function removeReply(replyNumber, callback, error) {
            $.ajax({
                url: "/reply/concert/" + replyNumber,
                type: "delete",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }

            })
        }

        return {
            getListReply: getListReply,
            createReply: createReply,
            modifyReply: modifyReply,
            removeReply: removeReply
        }
    })();

    // 세션비교하여 댓글 수정삭제 버튼 노출
    function replyShowHide(sessionUserNumber, replyUserNumber) {
        if((sessionUserNumber == replyUserNumber)) {
            $(".reply-modify").show();
            $(".reply-delete").show();
        }
    }

    // 댓글 연결
    // 기본 전역변수
    let pageNum = 1;
    let replyDiv = $(".concert-reply-div");
    let showNumber = [[${concert.showNumber}]];
    let paging = [[${criteria.listLink}]];

    $(".rn-product-short-data a.modify").click(function (e) {
        e.preventDefault();
        location.href = '/concert/concertPlanModify' + paging + '&showNumber=' + showNumber;
    })

    $(".rn-product-short-data a.delete").click(function (e) {
        e.preventDefault();
        location.href = '/concert/concertPlanDelete' + paging + '&showNumber=' + showNumber;
    })

    $(document).ready(function () {
        // 새로고침 첫 실행 (type : A, pageNum : 1 (기본값))
        replyList(pageNum);
        (function(){
            $.getJSON("/file/concert/file", {showNumber: showNumber}, function(file){showUploadResult(file);})
        })();

        // 공연 artistNumber와 접속한 artistNumber가 같으면
        if(showArtistNumber == sessionArtistNumber) {
            $(".showInfo-modify").show();
            $(".showInfo-delete").show();
        }

    })

    let $showImage = $(".rn-product-imgbox");
    function showUploadResult(file) {
        let str = ""
        str += "<li data-filename='" + file.fileName.substring(file.fileName.indexOf("_") + 1) + "' data-uuid='" + file.uuid + "' data-uploadpath='" + file.uploadPath + "' data-image='" + file.image + "'>";
        str += "<img src='/file/concert/display?fileName=" + file.uploadPath + "/" + file.uuid + "_"  + file.fileName + "' style=\"width: 100%; height: auto; overflow: hidden;\">";
        str += "</li>"
        $showImage.html(str);
    }
    function replyList(page) {
        showReplyService.getListReply(showNumber, page, function (total, list) {
            let str = "";
            if (list == null || list.length == 0) {
                $("#reply-count").text("");
                $("#reply-count").text(total + ' Comments');

                replyDiv.html("");
                return;
            }
            // str += "<strong id='reply-count'>" + total + ' Comments' + "</strong>";
            $("#reply-count").text("");
            $("#reply-count").text(total + ' Comments');

            $.each(list, function (i, reply) {
                str += "<div class='reply-content-wrap' id='"  + reply.replyNumber +  "'><div class='reply-content-flex'><div class='user-profile'>";
                str += "<img class='user-image' src='/images/myPage/user-icon.png' alt='' width='48' height='48'></div>";
                str += '<div class="reply-text-box"><div class="reply-content-box"><div class="reply-name"><span class="reply-user">';
                str += '<a id="user-name" href="">' + reply.userName + '</a></span>';
                str += '<span class="reply-date">' + reply.replyUpdateDate + '</span></div>';
                str += '<div class="reply-status">';
                str += '<span id="modify-' + reply.replyNumber + '" class="reply-modify modify ' + reply.replyNumber + ' modify-' + reply.userNumber + '" style="cursor:pointer; display: none;">수정</span>';
                str += '<span id="finish-' + reply.replyNumber + '" class="reply-finish finish ' + reply.replyNumber + ' finish-' + reply.userNumber + '" style="display: none;cursor:pointer;">수정완료</span>';
                str += '<span id="delete-' + reply.replyNumber + '" class="reply-delete delete ' + reply.replyNumber + ' delete-' + reply.userNumber + '" style="display: none;">삭제</span>'
                str += '<span id="cancel-' + reply.replyNumber + '" class="reply-cancel cancel ' + reply.replyNumber + ' cancel-' + reply.userNumber + '" style="display: none;cursor:pointer;">취소</span></div></div>';
                str += '<div id="content-' + reply.replyNumber + '"  class="reply-content content ' + reply.replyNumber + '">' + reply.replyContent + '</div></div></div></div>';


            });
            ;

            replyDiv.html(str);
            console.log($(".modify-" + sessionUserNumber).classList)
            $(".modify-" + sessionUserNumber).show();
            $(".delete-" + sessionUserNumber).show();
            showReplyPage(total);


        });

    }

    //댓글 삭제
    $(".concert-reply-div").on("click", ".reply-delete", function (e) {
        e.preventDefault();
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        if(confirm("댓글을 삭제하시겠습니까?")) {
            showReplyService.removeReply(this.classList[2], function (result) {
                alert(result);
                replyList(pageNum);
            });
        }
    });


    let updateCheck = false;

    //댓글 수정
    $(".concert-reply-div").on("click", ".reply-modify", function (e) {
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        if(confirm("댓글을 수정하시겠습니까?")){
            let replyNumber = this.classList[2];
            let str = "";

            $("#modify-" + replyNumber).hide();
            $("#delete-" + replyNumber).hide();
            $("#finish-" + replyNumber).show();
            $("#cancel-" + replyNumber).show();

            str += '<div class="reply-input" id="reply-input-' + replyNumber + '">';
            str += '<textarea id="textarea-' + replyNumber + '" class="' + replyNumber + '" name="replyShow" style="width: 100%;height: 70px;border: 1px solid #fff;font-size: 13px;resize: none;box-sizing: border-box;resize: none;margin-top: 10px;">'
            str += $("#content-" + replyNumber).text();
            str += '</textarea></div>';

            // str += "<textarea id='textarea-'" + replyNumber + " class='" + replyNumber + "' style='resize: none;'>";
            // str += $("#content-" + replyNumber).text();
            // str += "</textarea>";


            $("#content-" + replyNumber).replaceWith(str);
            updateCheck = true;
        }
    });

    // 취소 버튼
    $(".concert-reply-div").on("click", ".reply-cancel", function (e) {
        e.preventDefault();
        let replyNumber = this.classList[2];
        if(confirm("댓글 수정을 취소하시겠습니까?")) {
            $("#modify-" + replyNumber).show();
            $("#delete-" + replyNumber).show();
            $("#finish-" + replyNumber).hide();
            $("#cancel-" + replyNumber).hide();
            $("#reply-input-" + replyNumber).hide();
            $("#content-" + replyNumber).show();
            let str = "";
            str += '<div id="content-' + replyNumber+ '" class="reply-content content ' + replyNumber+ '">';
            str += $("#textarea-" + replyNumber).text();
            str += '</div>'
            console.log($("#textarea" + replyNumber).text())
            $("#reply-input-" + replyNumber).replaceWith(str);
            updateCheck = false;
        }
    });

    //수정 완료
    $(".concert-reply-div").on("click", ".reply-finish", function (e) {
        e.preventDefault();
        let replyNumber = this.classList[2];

        if(confirm("댓글을 수정하시겠습니까?")) {
            showReplyService.modifyReply(replyNumber, {
                replyContent: $("textarea#textarea-" + replyNumber).val()
            }, function (result) {
                alert(result);
                replyList(pageNum);
                updateCheck = false;
            })
        }
    });

    function showReplyPage(total) {
        console.log($(".modify-" + sessionUserNumber))
        console.log(sessionUserNumber);

        $(".modify-" + sessionUserNumber).show();
        $(".delete-" + sessionUserNumber).show();
        let endPage = Math.ceil(pageNum / 10.0) * 10;
        let startPage = endPage - 9;
        let realEnd = Math.ceil(total / 10.0);
        const $paging = $(".reply-paging");

        if (endPage > realEnd) {
            endPage = realEnd;
        }

        let prev = startPage > 1;
        let next = endPage * 10 < total;
        let str = "";

        if (prev) {
            str += "<a class='changePage nextList' href='" + (1) + "'><code>&lt;&lt;</code></a>"
            str += '<a class="changePage prevList" href="' + (startPage - 1) + '"><code>&lt;</code>Prev</a>'
        }
        for (let i = startPage; i <= endPage; i++) {
            str += pageNum == i ?  "<code>" + i + "</code>" : "<a class='changePage mypage-page-next' href='" + i + "'><code>" + i + "</code></a>";
        }
        if (next) {
            str += '<a class="changePage nextList" href="' + (endPage + 1) + '">Next<code>&gt;</code></a>'
            str += "<a class='changePage nextList' href='" + (realEnd) + "'><code>&gt;&gt;</code></a>"
        }


        $paging.html(str);
    }


    $(".reply-paging").on("click", "a.changePage", function (e) {
        e.preventDefault();
        pageNum = $(this).attr("href");
        replyList(pageNum);

    });


    $(".finish").click(function (e) {
        e.preventDefault();
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        const $replyContent = $("textarea[name='replyShow']").val();

        if (!$replyContent) {
            alert("내용을 입력해주세요.");
            return;
        }

        // 세션이 있으면
        if(sessionUserCheck) {
            if(confirm("댓글을 등록하시겠습니까?")){
                showReplyService.createReply({userNumber: sessionUserNumber, showNumber: showNumber, replyContent: $replyContent},
                    function (result) {
                        $("textarea[name='replyShow']").val("");
                        replyList(pageNum);
                    });
                alert("댓글이 등록되었습니다.");
            }
        } else {
            alert("로그인 후 이용해주세요.")
        }

    })



    // function showUploadResult(files){
    //     let str ="";
    //     $(files).each(function(i, file){
    //         str += "<li data-filename='" + file.fileName.substring(file.fileName.indexOf("_") + 1) + "' data-uuid='" + file.uuid + "' data-uploadpath='" + file.uploadPath + "' data-image='" + file.image + "'>";
    //         if(file.image){
    //             str += "<a href=\"javascript:showImage(\'" + file.uploadPath + "/" + file.uuid + "_" + file.fileName +"\');\"><img src='/upload/display?fileName=" + file.uploadPath + "/s_" + file.uuid + "_"  + file.fileName + "'></a>";
    //         }else{
    //             str += "<a href='/upload/download?fileName=" + file.uploadPath + "/" + file.uuid + "_" + file.fileName + "'><img src='/images/attach.png' width='100'></a>";
    //         }
    //         str += "<p>" + file.fileName.substring(file.fileName.indexOf("_") + 1) + "</p>"
    //         str += "</li>"
    //     });
    //     $uploadResult.html(str);
    // }
    //
    //
    // (function () {
    //     $.getJSON("/upload/list", {boardBno : boardBno}, function (list) {
    //         showUploadResult(list);
    //     })
    // })();

    $(".artistSearch").click(function(e){
        e.preventDefault();
        if([[${concert.showCategory}]] == "뮤지션") {
            location.href="/artist/artistListMusician";
        } else if([[${concert.showCategory}]] == "퍼포먼스") {
            location.href="/artist/artistListPerformance";
        }
    })
</script>
</body>
</html>
</html>

