<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.artist.ArtistMapper">

<!--    &lt;!&ndash; 아티스트 등록 신청 (status 1) &ndash;&gt;-->
<!--    <insert id="insertApply">-->
<!--        INSERT INTO TBL_ARTIST-->
<!--        (ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION, ARTIST_TYPE, ARTIST_DONATION, ARTIST_ACCOUNT, ARTIST_STATUS)-->
<!--        VALUES(SEQ_ARTIST.NEXTVAL, #{userNumber}, #{artistName}, #{artistDescription}, #{artistType}, #{artistDonation}, #{artistAccount}, 1)-->
<!--    </insert>-->

<!--    &lt;!&ndash;관리자 등록 승인 (status -> 3)&ndash;&gt;-->
<!--    <update id="insertAdmin">-->
<!--        UPDATE TBL_ARTIST-->
<!--        SET ARITST_STATUS = 3-->
<!--        WHERE ARTIST_NUMBER = #{artistNumber}-->
<!--    </update>-->

<!--    &lt;!&ndash;아티스트 정보 수정 신청 (status 2)&ndash;&gt;-->
<!--    <update id="updateApply">-->
<!--        UPDATE TBL_ARTIST-->
<!--        SET ARTIST_NAME = #{artistName}, ARTIST_DESCRIPTION = #{artistDescription}, ARTIST_TYPE = #{artistType}, ARTIST_DONATION = #{artistDonation},-->
<!--         ARTIST_ACCOUNT = #{artistAccount}, ARITST_STATUS = 2-->
<!--        WHERE ARTIST_NUMBER = #{artistNumber}-->
<!--    </update>-->

<!--    &lt;!&ndash;관리자 수정 승인 (status -> 3)&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
<!--    <update id="updateAdmin">-->
<!--        UPDATE TBL_ARTIST-->
<!--        SET ARITST_STATUS = 3-->
<!--        WHERE ARTIST_NUMBER = #{artistNumber}-->
<!--    </update>-->

<!--    &lt;!&ndash;아티스트 삭제&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
<!--    <update id="delete">-->
<!--        UPDATE TBL_ARTIST SET ARITST_STATUS = 4 WHERE ARTIST_NUMBER = #{artistNumber}-->
<!--    </update>-->



<!--&lt;!&ndash;    <select id="getList" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="a.*">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'NEW'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST a ORDER BY a.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'LIKE'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    , likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM (&ndash;&gt;-->
<!--&lt;!&ndash;                    SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC&ndash;&gt;-->
<!--&lt;!&ndash;                    ) l&ndash;&gt;-->
<!--&lt;!&ndash;                    JOIN TBL_ARTIST a&ndash;&gt;-->
<!--&lt;!&ndash;                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER&ndash;&gt;-->
<!--&lt;!&ndash;                    ORDER BY LIKESCOUNT DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--    <select id="getList" resultType="artistVO">-->
<!--        SELECT ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION, ARTIST_TYPE-->
<!--            <choose>-->
<!--                <when test="listDTO.artistSortingType == 'NEW'.toString()">-->
<!--                    FROM (-->
<!--                            SELECT ROWNUM RN, ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION, ARTIST_TYPE-->
<!--                    FROM (-->
<!--                            SELECT a.ARTIST_NUMBER, a.USER_NUMBER, a.ARTIST_NAME, a.ARTIST_DESCRIPTION , a.ARTIST_TYPE FROM TBL_ARTIST a-->
<!--                            ORDER BY a.ARTIST_NUMBER DESC-->
<!--                        )-->
<!--                </when>-->
<!--                <when test="listDTO.artistSortingType == 'LIKE'.toString()">-->
<!--                    , likescount-->
<!--                    FROM (-->
<!--                    SELECT ROWNUM RN, ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION, ARTIST_TYPE-->

<!--                    FROM (-->
<!--                            (SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount-->
<!--                            FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC ) l JOIN TBL_ARTIST a-->
<!--                            ON a.ARTIST_NUMBER = l.ARTIST_NUMBER-->
<!--                            ORDER BY LIKESCOUNT DESC-->
<!--                        )-->
<!--                </when>-->
<!--            </choose>-->
<!--            <![CDATA[-->
<!--                WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}-->
<!--                )-->
<!--                WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}-->
<!--            ]]>-->
<!--    </select>-->

<!--    <select id="getListMusician" resultType="artistVO">-->
<!--        SELECT-->
<!--        <trim prefix="a.*">-->
<!--            <choose>-->
<!--                <when test="listDTO.artistSortingType == 'NEW'.toString()">-->
<!--                    FROM TBL_ARTIST a WHERE a.ARTIST_TYPE = 1 ORDER BY a.ARTIST_NUMBER DESC-->
<!--                </when>-->
<!--                <when test="listDTO.artistSortingType == 'LIKE'.toString()">-->
<!--                    , likescount-->
<!--                    FROM (SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount-->
<!--                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC) l JOIN TBL_ARTIST a-->
<!--                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER-->
<!--                    WHERE a.ARTIST_TYPE = 1-->
<!--                    ORDER BY LIKESCOUNT DESC-->
<!--                </when>-->
<!--            </choose>-->
<!--        </trim>-->
<!--    </select>-->

<!--    <select id="getListPerformance" resultType="artistVO">-->
<!--        SELECT-->
<!--        <trim prefix="a.*">-->
<!--            <choose>-->
<!--                <when test="listDTO.artistSortingType == 'NEW'.toString()">-->
<!--                    FROM TBL_ARTIST a WHERE a.ARTIST_TYPE = 2 ORDER BY a.ARTIST_NUMBER DESC-->
<!--                </when>-->
<!--                <when test="listDTO.artistSortingType == 'LIKE'.toString()">-->
<!--                    , likescount-->
<!--                    FROM (SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount-->
<!--                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC) l JOIN TBL_ARTIST a-->
<!--                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER-->
<!--                    WHERE a.ARTIST_TYPE = 2-->
<!--                    ORDER BY LIKESCOUNT DESC-->
<!--                </when>-->
<!--            </choose>-->
<!--        </trim>-->
<!--    </select>-->


<!--&lt;!&ndash;    <select id="getList" resultType="ArtistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <![CDATA[&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION FROM TBL_ARTIST&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;         USER_NUMBER 필요한가?&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;             (&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                 SELECT ROWNUM RN, REPLY_NUMBER, BOARD_BNO, REPLY_CONTENT, REPLY_WRITER, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                 FROM (&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                         SELECT REPLY_NUMBER, BOARD_BNO, REPLY_CONTENT, REPLY_WRITER, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE FROM TBL_REPLY&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                         ORDER BY REPLY_UPDATE_DATE DESC&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                      )&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                 WHERE BOARD_BNO = #{boardBno} AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;             )&ndash;&gt;-->
<!--&lt;!&ndash;        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}&ndash;&gt;-->
<!--&lt;!&ndash;        ]]>&ndash;&gt;-->
<!--&gt;>>>>>> work0620-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;    <select id="getListMusician" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="a.*">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'NEW'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST a WHERE a.ARTIST_TYPE = 1 ORDER BY a.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'LIKE'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    , likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM (SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC) l JOIN TBL_ARTIST a&ndash;&gt;-->
<!--&lt;!&ndash;                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER&ndash;&gt;-->
<!--&lt;!&ndash;                    WHERE a.ARTIST_TYPE = 1&ndash;&gt;-->
<!--&lt;!&ndash;                    ORDER BY LIKESCOUNT DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;    <select id="getListPerformance" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="a.*">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'NEW'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST a WHERE a.ARTIST_TYPE = 2 ORDER BY a.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.artistSortingType == 'LIKE'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    , likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM (SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC) l JOIN TBL_ARTIST a&ndash;&gt;-->
<!--&lt;!&ndash;                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER&ndash;&gt;-->
<!--&lt;!&ndash;                    WHERE a.ARTIST_TYPE = 2&ndash;&gt;-->
<!--&lt;!&ndash;                    ORDER BY LIKESCOUNT DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->




<!--&lt;!&ndash;&lt;!&ndash;강래&ndash;&gt;&ndash;&gt;-->


<!--    <select id="rankingList" resultType="artistVO">-->
<!--        SELECT a.*, likescount-->
<!--                    FROM (-->
<!--                    SELECT ARTIST_NUMBER, COUNT(ARTIST_NUMBER) as likescount-->
<!--                    FROM TBL_LIKE GROUP BY ARTIST_NUMBER ORDER BY likescount DESC-->
<!--                    ) l-->
<!--                    JOIN TBL_ARTIST a-->
<!--                    ON a.ARTIST_NUMBER = l.ARTIST_NUMBER-->
<!--                    <choose>-->
<!--&lt;!&ndash;                        <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;                             LIKE_DATE == 현재기준(이번주 범위내)&ndash;&gt;-->
<!--&lt;!&ndash;                        </when>&ndash;&gt;-->
<!--&lt;!&ndash;                        <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->

<!--&lt;!&ndash;                        </when>&ndash;&gt;-->
<!--                        <when test="listDTO.rankingSortingDate == 'year'.toString()">-->
<!--                            WHERE LIKE_DATE == #{listDTO.detailDate}-->
<!--                        </when>-->
<!--                    </choose>-->
<!--                    ORDER BY LIKESCOUNT DESC-->
<!--    </select>-->





<!--&lt;!&ndash;&lt;!&ndash;전체(A)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getList" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;&#45;&#45;          item="전달받은 인자값을 다른이름으로 대체" collection="전달받은 인자값"&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST&ndash;&gt;-->
<!--&lt;!&ndash;                    JOIN TBL_LIKE&ndash;&gt;-->
<!--&lt;!&ndash;                    ON  ARTIST_NUMBER = ARTIST_NUMBER&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->


<!--&lt;!&ndash;    &lt;!&ndash;전체(A)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getList" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefixOverrides="OR">&ndash;&gt;-->
<!--&lt;!&ndash;            &#45;&#45;          item="전달받은 인자값을 다른이름으로 대체" collection="전달받은 인자값"&ndash;&gt;-->
<!--&lt;!&ndash;            <foreach item="listDTO.rankingSortingDate" collection="">&ndash;&gt;-->
<!--&lt;!&ndash;                <trim prefix="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                        <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                            (SELECT TO_CHAR(SYSDATE,'W'), TO_CHAR(SYSDATE,'mm') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                        </when>&ndash;&gt;-->
<!--&lt;!&ndash;                        <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                            (SELECT TO_CHAR(SYSDATE,'mm'), TO_CHAR(SYSDATE,'yyyy') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                        </when>&ndash;&gt;-->
<!--&lt;!&ndash;                        <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                            (SELECT TO_CHAR(SYSDATE,'yyyy') FROM DUAL)&ndash;&gt;-->

<!--&lt;!&ndash;                        </when>&ndash;&gt;-->
<!--&lt;!&ndash;                    </choose>&ndash;&gt;-->
<!--&lt;!&ndash;                </trim>&ndash;&gt;-->
<!--&lt;!&ndash;            </foreach>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->



<!--&lt;!&ndash;&lt;!&ndash;뮤지션(M)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getListMusician" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY M.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY M.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY M.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash;뮤지션(M)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getListMusician" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'W'), TO_CHAR(SYSDATE,'mm') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'mm'), TO_CHAR(SYSDATE,'yyyy') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'yyyy') FROM DUAL)&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;퍼포먼스(P)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getListPerformance" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY P.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY P.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    FROM TBL_ARTIST ORDER BY P.ARTIST_NUMBER DESC&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash;퍼포먼스(P)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getListPerformance" resultType="artistVO">&ndash;&gt;-->
<!--&lt;!&ndash;        <trim prefix="">&ndash;&gt;-->
<!--&lt;!&ndash;            <choose>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'week'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'W'), TO_CHAR(SYSDATE,'mm') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'month'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'mm'), TO_CHAR(SYSDATE,'yyyy') FROM DUAL),&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;                <when test="listDTO.rankingSortingDate == 'year'.toString()">&ndash;&gt;-->
<!--&lt;!&ndash;                    (SELECT TO_CHAR(SYSDATE,'yyyy') FROM DUAL)&ndash;&gt;-->
<!--&lt;!&ndash;                </when>&ndash;&gt;-->
<!--&lt;!&ndash;            </choose>&ndash;&gt;-->
<!--&lt;!&ndash;        </trim>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->









<!--    &lt;!&ndash;아티스트 목록 개수&ndash;&gt;-->


<!--    &lt;!&ndash;랭킹 목록&ndash;&gt;-->
<!--    <select id="rankingList" resultType="artistVO">-->

<!--    </select>-->

<!--    &lt;!&ndash;랭킹 목록 개수&ndash;&gt;-->
<!--    <select id="getTotal" resultType="_int">-->

<!--    </select>-->

<!--    &lt;!&ndash;아티스트 상세 정보&ndash;&gt;-->
<!--    <select id="getDetail" resultType="artistFileVO">-->
<!--        SELECT ARTIST_NUMBER, USER_NUMBER, ARTIST_NAME, ARTIST_DESCRIPTION, ARTIST_TYPE, ARTIST_DONATION, ARTIST_ACCOUNT, ARTIST_STATUS-->
<!--        FROM TBL_ARTIST-->
<!--        WHERE ARTIST_NUMBER = #{artistNumber}-->
<!--    </select>-->

</mapper>