<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아티스트 정보</title>

    <link rel="stylesheet" href="artist_info.css">
</head>
<body style = >
<form name = "mainForm" method = "post" action = "" id = "mainForm">
    <div class="renew-wrap">
        <div class="renew-content">
            <div class="rn-01">
                <p class="rn-location"><a>아티스트</a><a>뮤지션</a></p>

            </div>
            <div class="rn-02">
                <p class="rn-big-title">아티스트 이름</p>
                <div class="rn-product-short-data">
                    <p><span class="ps-date"> </span><a><span class="ps-location2"> </span></a></p>
                </div>
            </div>
        </div>

    </div>
    <div class="movie-pop-wrap">
    </div>
    <div class="renew-content">
        <div class="rn-03">
            <div class="rn-03-left">
                <div class="rn-product-imgbox">
                    <img src="http://tkfile.yes24.com/upload2/PerfBlog/202205/20220531/20220531-42357.jpg">
                </div>
            </div>
            <div class="rn-03-right">
                <div class="rn-product-area1">
                    <dl>
                        <dt>이름</dt>
                        <dd>&nbsp;아티스트 이름 들어갈곳</dd>
                        <dt>분류</dt>
                        <dd>&nbsp;뮤지션</dd>
                        <dd class="rn-product-dc"></dd>
                    </dl>
                </div>

                <div class="rn-product-area3">
                    <dl>
                        <dt>아티스트 소개</dt>
                        <dd>아티스트 소개 들어갈 곳</dd>

                </div>
            </div>

            <div class="rn-05">



                <a href="javascript:;" onclick="click_donate();" class="rn-bb03">후원하기</a>
                <a href="javascript:;" onclick="click_like();" class="rn-bb03">좋아요</a>


            </div>



        </div>










</form>



</body>
</html>