<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="big-box-1">
        <div>
            <p class="box-name">WHAT'S HOT</p>
        </div>
        <div class="small-box">
            <div class="left">
                <div>
                    <img src="big-poster.png" alt="#">
                </div>
                <div>
                    <p id="big-poster-text1">코리아IT아케데미</p>
                    <p id="big-poster-text2">역삼역 3번출구</p>
                </div>
            </div>
            <div class="right-updown">
                <div class="right">
                    <div id="right-3"><img src="small-poster.png" alt="#"></div>
                    <div id="right-3"><img src="small-poster.png" alt="#"></div>
                    <div id="right-3"><img src="small-poster.png" alt="#"></div>

                </div>
                <div class="right">
                    <div id="right-3-down"><img src="small-poster.png" alt="#"></div>
                    <div id="right-3-down"><img src="small-poster.png" alt="#"></div>
                    <div id="right-3-down"><img src="small-poster.png" alt="#"></div>

                </div>
            </div>
        </div>
    </div>

        <div class="big-box-2">
            <div>
                <div>
                    <p class="box-name">TICKET OPEN</p>
                </div>
                <div>
                    <div class="small-5-box" style="text-align:center;">
                        <div class="image-plus-box">
                            <div>
                                <img src="small-5-poster.png" alt="#">
                            </div>
                            <div class="small-5-box-textbox">
                                <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                                <p id="small-5-box-downtext">역삼역 4거리</p>
                            </div>
                        </div>
                        <div class="image-plus-box">
                            <div>
                                <img src="small-5-poster.png" alt="#">
                            </div>
                            <div class="small-5-box-textbox">
                                <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                                <p id="small-5-box-downtext">역삼역 4거리</p>
                            </div>
                        </div>
                        <div class="image-plus-box">
                            <div>
                                <img src="small-5-poster.png" alt="#">
                            </div>
                            <div class="small-5-box-textbox">
                                <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                                <p id="small-5-box-downtext">역삼역 4거리</p>
                            </div>
                        </div>
                        <div class="image-plus-box">
                            <div>
                                <img src="small-5-poster.png" alt="#">
                            </div>
                            <div class="small-5-box-textbox">
                                <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                                <p id="small-5-box-downtext">역삼역 4거리</p>
                            </div>
                        </div>
                        <div class="image-plus-box">
                            <div>
                                <img src="small-5-poster.png" alt="#">
                            </div>
                            <div class="small-5-box-textbox">
                                <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                                <p id="small-5-box-downtext">역삼역 4거리</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="more-link-box">버스킹 더보기+</a>
                    </div>
                </div>
            </div>

    <!-- 백그라운드 이미지 -->
    <div class="background">
        <div class="slideshow-container">

            <div class="mySlides fade">
              <!-- <div class="numbertext">1 / 3</div> -->
              <img src="background1.png" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <!-- <div class="numbertext">2 / 3</div> -->
              <img src="background2.png" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <!-- <div class="numbertext">3 / 3</div> -->
              <img src="background1.png" style="width:100%">
            </div>
            
        </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>
        
    </div>


            <!-- 랭킹 -->
            <div>
                <div>
                    <div>
                        <p class="box-name">RANKING</p>
                    </div>
                    <div>
                        <p class="tags">
                            <a href="">#뮤지션</a>
                            <a href="">#댄스팀</a>
                            <a href="">#마술사</a>
                            <a href="">#행위예술</a>
                        </p>
                    </div>
                </div>
                <div class="flexing">
                    <div class="poster-3-text">
                        <div>
                            <img src="3-poster.png" alt="#">
                        </div>
                        <div class="small-3-box-textbox">
                            <p id="small-3-box-uptext">댄스팀 [COCANBUTTER]</p>
                            <p id="small-3-box-downtext">2022.08.13 수원 로데오 거리</p>
                        </div>
                    </div>
                    <div class="poster-3-text">
                        <div>
                            <img src="3-poster.png" alt="#">
                        </div>
                        <div class="small-3-box-textbox">
                            <p id="small-3-box-uptext">댄스팀 [COCANBUTTER]</p>
                            <p id="small-3-box-downtext">2022.08.13 수원 로데오 거리</p>
                        </div>
                    </div>
                    <div class="poster-3-text">
                        <div>
                            <img src="3-poster.png" alt="#">
                        </div>
                        <div class="small-3-box-textbox">
                            <p id="small-3-box-uptext">댄스팀 [COCANBUTTER]</p>
                            <p id="small-3-box-downtext">2022.08.13 수원 로데오 거리</p>
                        </div>
                    </div>

                </div>



                <div class="tags">
                    <a href="#" class="more-link-box">랭킹 더보기+</a>
                </div>
            </div>
        </div>
    





        <div class="youtube-box">
            <div class="youtube-text-video-box">
                <div class="youtube-text-box">
                    <p class="youtube-text-top">
                        <span>
                            <img src="http://tkfile.yes24.com/imgNew/main/tit8.png" alt="">
                            <!-- "::after" -->
                        </span>
                    </p>
                    <p class="youtube-text-ㅡ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ㅡ</p>
                    <p class="youtube-text-mid">스우파<br>CocaNButter</p>
                    <p class="youtube-text-bottom">리헤이, 제트썬, 가가, 비키, 질린, 비비</p>
                </div>
                <div class="youtube-video-box">
                    <div>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/kXpOEzNZ8hQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <!-- <iframe id="playerFocusOn" class="focus-con-movie" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/?enablejsapi=1&amp;origin=http%3A%2F%2Fticket.yes24.com&amp;widgetid=1">
                        
                        </iframe> -->
                        <!-- <iframe src="#" frameborder="0" class="youtube-video" allowfullscreen="1"
                            allow="accelerometer" width="640" height="360"></iframe> -->
                    </div>
                </div>
            </div>
        </div>







    <div class="big-box-3">
        <p class="big-box-title">
            <img src="poster-title.png" class="poster-title" alt="#">
        </p>
        <div class="poster-list-6">
            <div class="poster-list">
                <a href="">
                    <div class="poster-list-text-box">
                        <div class="poster-list-1">
                            <img src="poster-list-pic-6.png" alt="">
                        </div>
                        <div>
                            <p class="poster-list-text">댄스 <코카인버터></p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="poster-list-text-box">
                        <div class="poster-list-1">
                            <img src="poster-list-pic-6.png" alt="">
                        </div>
                        <div>
                            <p class="poster-list-text">댄스 <코카인버터></p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="poster-list-text-box">
                        <div class="poster-list-1">
                            <img src="poster-list-pic-6.png" alt="">
                        </div>
                        <div>
                            <p class="poster-list-text">댄스 <코카인버터></p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="poster-list-text-box">
                        <div class="poster-list-1">
                            <img src="poster-list-pic-6.png" alt="">
                        </div>
                        <div>
                            <p class="poster-list-text">댄스 <코카인버터></p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="poster-list-text-box">
                        <div class="poster-list-1">
                            <img src="poster-list-pic-6.png" alt="">
                        </div>
                        <div>
                            <p class="poster-list-text">댄스 <코카인버터></p>
                        </div>
                    </div>
                </a>
                

            </div>
        </div>
    </div>

        <div class="big-box-3">
            <p class="big-box-title">
                <img src="poster-title.png" class="poster-title" alt="#">
            </p>
            <div class="poster-list-6.png">
                <div class="poster-list">
                    <a href="">
                        <div class="poster-list-text-box">
                            <div class="poster-list-1">
                                <img src="big-box-5-poster.png" alt="">
                            </div>
                            <div>
                                <p class="poster-list-text">댄스 <코카인버터></p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="poster-list-text-box">
                            <div class="poster-list-1">
                                <img src="big-box-5-poster.png" alt="">
                            </div>
                            <div>
                                <p class="poster-list-text">댄스 <코카인버터></p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="poster-list-text-box">
                            <div class="poster-list-1">
                                <img src="big-box-5-poster.png" alt="">
                            </div>
                            <div>
                                <p class="poster-list-text">댄스 <코카인버터></p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="poster-list-text-box">
                            <div class="poster-list-1">
                                <img src="big-box-5-poster.png" alt="">
                            </div>
                            <div>
                                <p class="poster-list-text">댄스 <코카인버터></p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="poster-list-text-box">
                            <div class="poster-list-1">
                                <img src="big-box-5-poster.png" alt="">
                            </div>
                            <div>
                                <p class="poster-list-text">댄스 <코카인버터></p>
                            </div>
                        </div>
                    </a>
                    
    
                </div>
            </div>
        </div>
            <div class="big-box-3">
                <p class="big-box-title">
                    <img src="poster-title.png" class="poster-title" alt="#">
                </p>
                <div class="poster-list-6">
                    <div class="poster-list">
                        <a href="">
                            <div class="poster-list-text-box">
                                <div class="poster-list-1">
                                    <img src="big-box-5-poster.png" alt="">
                                </div>
                                <div>
                                    <p class="poster-list-text">댄스 <코카인버터></p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="poster-list-text-box">
                                <div class="poster-list-1">
                                    <img src="big-box-5-poster.png" alt="">
                                </div>
                                <div>
                                    <p class="poster-list-text">댄스 <코카인버터></p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="poster-list-text-box">
                                <div class="poster-list-1">
                                    <img src="big-box-5-poster.png" alt="">
                                </div>
                                <div>
                                    <p class="poster-list-text">댄스 <코카인버터></p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="poster-list-text-box">
                                <div class="poster-list-1">
                                    <img src="big-box-5-poster.png" alt="">
                                </div>
                                <div>
                                    <p class="poster-list-text">댄스 <코카인버터></p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="poster-list-text-box">
                                <div class="poster-list-1">
                                    <img src="big-box-5-poster.png" alt="">
                                </div>
                                <div>
                                    <p class="poster-list-text">댄스 <코카인버터></p>
                                </div>
                            </div>
                        </a>
                        
        
                    </div>
                </div>
            </div>
        
            
                


        
        

    </div>

</body>
<!-- 백그라운드 이미지 -->
<script>
    var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 5 seconds
}
</script>

</html>