<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작품 리스트</title>
    <link rel="stylesheet" href="workList.css"/>
</head>
<body>
    <div class="work_wrap">
        <p class="work_tit">작품 목록</p>

        <div class="work_layout">
            <div class="search_division">
                <div class="input_wrap">
                    <input type="text" id="search_word" placeholder="작품명으로 검색해주세요.">
                    <a href=""><img src="http://tkfile.yes24.com/imgNew/common/pf-srch-w.png" alt="" class="fixed"></a>
                    
                </div>
                <div class="regist_btn">
                    <a href="workRegist.html">작품 등록 신청</a>
                </div>
            </div>
            <div class="work_list">
                <ul class="works">
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="workRead.html" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="" class="works_img"><img src="20473078.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>