<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/work/workRegister.css"/>
    <style>
        .clear{clear:both;}
        .fileList .fileName{padding-left: 20px;}
        .fileList .fileSize{padding-right: 20px; float:right;}
    </style>
    <script>
        //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // 현재 수정해야 할 사항!!!!!!!!!!!!!!!!!!!!
        // 1. input태그 배경색 회색 => 주황계열로 바꾸기
        // 2. 유효성검사 버그 수정 (밑에 스크립트 태그에 설명 있음)
        //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    </script>
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>작품 등록 신청</title>
</head>
<body>
    <div class="work_detail_wrap">
        <div class="work_detail">
            <div class="detail">
                <p>작품 등록 신청</p>
                <div class="announcement">
                    <p style="font-size: 13px; margin-top: 0; margin-bottom: 0px; color:#ff9326">
                        <span class="announce">*작품등록시 빠른시일내로 등록심사를 진행하겠습니다.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="work_info_wrap">
        <form action="workList.html" method="post" name="registForm" enctype="multipart/form-data">
            <div class="work_info_content">
                <div class="work_info">
                    <div class="info_left">
                        <div class="img_box">
                            <input id="file_drop" class="file_drop" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;작품 썸네일을 드래그 앤 드롭으로 등록해주세요.">
                        </div>
                    </div>
                    <div class="info_right">
                        <div class="info_area1">
                            <dl>
                                <dt>작품명*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workName" class="input_text">
                                    <span><p class="warning_msg1">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>아티스트*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="artistName" class="input_text">
                                    <span><p class="warning_msg2">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>발매일*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="releaseDate" class="input_text">
                                    <span><p class="warning_msg3">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>장르*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="genre" class="input_text">
                                    <span><p class="warning_msg4">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>뮤비 링크</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="youtube_link" class="input_text" placeholder="유튜브 링크로 올려주세요.">
                                </dd>
                            </dl>
                        </div>
                        <div class="info_area2">
                            <dl>
                                <dt>작품 설명</dt>
                                <dd>
                                    <textarea name="workDescription" id="" cols="82" rows="12" placeholder="작품설명을 입력해주세요"></textarea>
                                </dd>
                            </dl>
                        </div>
                        <div class="info_area2" style="float: right;">
                            <div class="purchase_link_wrap">
                                <a href="/templates/work/workList.html" class="purchase_link">뒤로가기</a>&nbsp;&nbsp;
                                <a href="" class="purchase_link">작품 등록 신청</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <footer th:include="~{/footer/footer :: foot}">

    </footer>
</body>

<script>
    var fileList = []; //파일 정보를 담아 둘 배열
    $(function(){

        //드래그앤드랍
        $("#file_drop").on("dragenter", function(e){
            e.preventDefault();
            e.stopPropagation();
        }).on("dragover", function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF2E5");
        }).on("dragleave", function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF");
        }).on("drop", function(e){
            e.preventDefault();

            var files = e.originalEvent.dataTransfer.files;
            console.log(files);
            $(e.target).closest("div").html(
                "<img src='"+ window.URL.createObjectURL(files[0]) + "'>"
            );
            // 파일 여러개 등록하려고 할때..
//            if(files != null && files != undefined){
//              var tag = "";
//              for(i = 0; i < files.length; i++){
//                  var f = files[i];
//                  var fileName = f.name;
//                  fileList.push(f);
//                  tag += "<img src='/static/images/work/"+ fileName +"'>";       
//              }
//              $(this).closest("div").html(tag);
//          }

//          $(this).css("background-color", "#FFF");
        });

        //저장 (프론트에서 쓰는거 아님!!)
        $(document).on("click", "#save", function(){
            var formData = new FormData($("#fileForm")[0]);
            if(fileList.length > 0){
                fileList.forEach(function(f){
                    formData.append("fileList", f);
                });
            }         

            $.ajax({
                url : "서버 맵핑 URL",
                data : formData,
                type:'POST',
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                dataType:'json',
                cache:false,
                success:function(res){
                    alert("저장에 성공하셨습니다.");
                },error:function(res){
                    alert("오류 발생.\n관리자에게 문의해주세요.");
                }
            });
        });
    });
</script>

<!-- 유효성 검사 -->
<script>
    $("a.purchase_link").on("click", function(e){
        if(!$("input[name=workName]").val()){
           // console.log("length");
            $(".warning_msg1").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg1").hide();
        }

        if(!$("input[name=artistName]").val()){
           // console.log("length1");
            $(".warning_msg2").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg2").hide();
        }

        if(!$("input[name=releaseDate]").val()){
           // console.log("length2");
            $(".warning_msg3").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg3").hide();
        }

        if(!$("input[name=genre]").val()){
           // console.log("length3");
            $(".warning_msg4").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg4").hide();
        }
        
    //console.log("aaa");
    return true;
    })
        
</script>

</html>