<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="workRegist.css"/>
    <style>
        .clear{clear:both;}
        .fileList .fileName{padding-left: 20px;}
        .fileList .fileSize{padding-right: 20px; float:right;}
    </style>

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>작품 등록 신청</title>
</head>
<body>
    <div class="work_detail_wrap">
        <div class="work_detail">
            <div class="detail">
                <p>작품 등록 신청</p>
                <div class="announcement">
                    <p style="font-size: 13px; margin-top: 0; margin-bottom: 0px; color:#ff9326">
                        <span class="announce">*작품등록시 빠른시일내로 등록심사를 진행하겠습니다.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="work_info_wrap">
        <form action="workList.html" method="post" enctype="multipart/form-data">
            <div class="work_info_content">
                <div class="work_info">
                    <div class="info_left">
                        <div class="img_box">
                            <input id="file_drop" class="file_drop" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;작품 썸네일을 드래그 앤 드롭으로 등록해주세요.">
                        </div>
                    </div>
                    <div class="info_right">
                        <div class="info_area1">
                            <dl>
                                <dt>앨범명*</dt>
                                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="albumName" class="input_text"></dd>
                                <dt>아티스트*</dt>
                                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="artistName" class="input_text"></dd>
                                <dt>발매일*</dt>
                                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="releaseDate" class="input_text"></dd>
                                <dt>장르*</dt>
                                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="genre" class="input_text"></dd>
                                <dt>뮤비 링크</dt>
                                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="youtube_link" class="input_text" placeholder="유튜브 링크로 올려주세요."></dd>
                            </dl>
                        </div>
                        <div class="info_area2">
                            <dl>
                                <dt>앨범 설명</dt>
                                <dd>
                                    <textarea name="workDescription" id="" cols="82" rows="5" placeholder="작품설명을 입력해주세요"></textarea>
                                </dd>
                            </dl>
                        </div>
                        <div class="info_area2">
                            <div class="purchase_link_wrap">
                                <a href="workList.html" class="purchase_link">뒤로가기</a>
                                <a href="javascript:check" class="purchase_link">작품 등록 신청</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    var fileList = []; //파일 정보를 담아 둘 배열
    $(function(){

        //드래그앤드랍
        $("#file_drop").on("dragenter", function(e){
            e.preventDefault();
            e.stopPropagation();
        }).on("dragover", function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF2E5");
        }).on("dragleave", function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF");
        }).on("drop", function(e){
            e.preventDefault();

            var files = e.originalEvent.dataTransfer.files;
            if(files != null && files != undefined){
                var tag = "";
                for(i = 0; i < files.length; i++){
                    var f = files[i];
                    var fileName = f.name;
                    fileList.push(f);
                    tag += "<img src='"+ fileName +"'>";       
                }
                $(this).closest("div").html(tag);
            }

            $(this).css("background-color", "#FFF");
        });

        //저장
        $(document).on("click", "#save", function(){
            var formData = new FormData($("#fileForm")[0]);
            if(fileList.length > 0){
                fileList.forEach(function(f){
                    formData.append("fileList", f);
                });
            }         

            $.ajax({
                url : "서버 맵핑 URL",
                data : formData,
                type:'POST',
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                dataType:'json',
                cache:false,
                success:function(res){
                    alert("저장에 성공하셨습니다.");
                },error:function(res){
                    alert("오류 발생.\n관리자에게 문의해주세요.");
                }
            });
        });
    });
</script>

</html>