<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작품 리스트</title>
    <link rel="stylesheet" href="/assets/css/work/workList.css"/>
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<header th:include="~{/header/header3 :: head}">

</header>
<body>
    <div class="work_wrap">
        <p class="work_tit">작품 목록</p>

        <div class="work_layout">
            <div class="search_division">
                <!-- <div class="regist_btn">
                    <a href="workRegister.html">작품 등록 신청</a>
                </div> -->
                <div class="hash_txtwrap">
                    <ul class="hash_txt">
                        <li>
                            아래 해시태그를 클릭해주세요.
                            <a href="javascript:location.reload();" class="hash_on" alt="해시태그 새로고침"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hash_division" style="padding-top: 105px;">
                <div class="hash_tag_wrap">
                    <div class="hash_tag">
                        <a href="#" tag="트로트" class="tag" style="padding-bottom: 3px;">#트로트</a>
                    </div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="팝" style="padding-bottom: 3px;">#팝</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="발라드" style="padding-bottom: 3px;">#발라드</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="R&B" style="padding-bottom: 3px;">#R&B</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="랩/힙합" style="padding-bottom: 3px;">#랩/힙합</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="EDM" style="padding-bottom: 3px;">#EDM</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="댄스" style="padding-bottom: 3px;">#댄스</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="재즈" style="padding-bottom: 3px;">#재즈</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="인디" style="padding-bottom: 3px;">#인디</a></div>
                </div>
                <div class="hash_tag_wrap">
                    <div class="hash_tag"><a href="#" tag="무용" style="padding-bottom: 3px;">#무용</a></div>
                </div>
            </div>
            <div class="regist_division">
                <div class="regist_btn">
                    <a href="/work/workRegister">작품 등록 신청</a>
                </div>
            </div>
            <div class="work_list">
                <ul class="works">
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                    <li>
                        <p class="works_tit">Proof</p>
                        <p class="worker">방탄소년단</p>
                        <a href="/work/workInfo" class="works_img"><img src="/images/work/20473078.jpg" alt=""></a>
                        <p class="tags">#랩/힙합 &nbsp; #댄스 &nbsp; #R&B &nbsp; #Soul</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer th:include="~{/footer/footer :: foot}">

    </footer>

</body>
<script>
    // 해시태그 클릭시 색상변경
    $(".hash_tag a").on("click", function(e){
        if($(e.target).hasClass('on')){
            $(e.target).removeClass('on');
        } else {
            $(e.target).addClass('on');
        }
    })
    
</script>
</html>