<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/work/workRegister.css"/>
    <style>
        .clear{clear:both;}
        .fileList .fileName{padding-left: 20px;}
        .fileList .fileSize{padding-right: 20px; float:right;}
    </style>
    <script>
        //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // 현재 수정해야 할 사항!!!!!!!!!!!!!!!!!!!!
        // 1. input태그 배경색 회색 => 주황계열로 바꾸기
        // 2. 유효성검사 버그 수정 (밑에 스크립트 태그에 설명 있음)
        //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    </script>
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>작품 등록 신청</title>
</head>
<body>
    <div class="work_detail_wrap">
        <div class="work_detail">
            <div class="detail">
                <p>작품 등록 신청</p>
                <div class="announcement">
                    <p style="font-size: 13px; margin-top: 0; margin-bottom: 0px; color:#ff9326">
                        <span class="announce">*작품등록시 빠른시일내로 등록심사를 진행하겠습니다.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="work_info_wrap">
            <div class="work_info_content">
                <div class="work_info">
                    <div class="info_left">
                        <div class="img_box">
                            <input id="file_drop" class="file_drop" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;작품 썸네일을 드래그 앤 드롭으로 등록해주세요.">
                            <img id="image-samplebox" class="file_drop" src="" style="width: 100%; height: auto; overflow: hidden; display: none;">
                        </div>
                    </div>
                    <div class="info_right">
                        <form action="/work/workRegister" method="post" id="registerForm" name="registerForm" enctype="multipart/form-data">
                        <div class="info_area1">
                            <dl>
                                <dt>작품명*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workName" class="input_text">
                                    <span><p class="warning_msg1">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>아티스트*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="artistName" class="input_text" th:value="${artistName}" readonly>
                                    <span><p class="warning_msg2">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>발매일*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="workReleaseDate" class="input_text">
                                    <span><p class="warning_msg3">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>장르*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workGenre" class="input_text">
                                    <span><p class="warning_msg4">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>태그*</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workTag" class="input_text" placeholder="#태그 식으로 써주세요">
                                    <span><p class="warning_msg5">반드시 입력해야 하는 칸입니다.</p></span>
                                </dd>
                                <dt>뮤비 링크</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workYoutubeUrl" class="input_text" placeholder="유튜브 링크로 올려주세요.">
                                </dd>
                                <dt>구매 링크</dt>
                                <dd>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="workPurchaseUrl" class="input_text" placeholder="구매 링크를 올려주세요.">
                                </dd>
                            </dl>
                        </div>
                        <div class="info_area2">
                            <dl>
                                <dt>작품 설명</dt>
                                <dd>
                                    <textarea name="workDescription" cols="82" rows="12" placeholder="작품설명을 입력해주세요"></textarea>
                                </dd>
                            </dl>
                        </div>
                        <input type='hidden' id='fileName' name='file.fileName' value=''>
                        <input type='hidden' id='uuid' name='file.uuid' value=''>
                        <input type='hidden' id='uploadPath' name='file.uploadPath' value=''>
                        </form>
                        <div class="info_area2" style="float: right;">
                            <div class="purchase_link_wrap">
                                <a href="/work/workList" class="purchase_link">뒤로가기</a>&nbsp;&nbsp;
                                <a href="javascript:purchase_link();" id="purchase_link" class="purchase_link">작품 등록 신청</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    <footer th:include="~{/footer/footer :: foot}">

    </footer>
</body>

<script th:inline="javascript">
    console.log([[${artistName}]]);
    // let sessionArtistNumber = [[${session.artistNumber}]];
    // console.log(sessionArtistNumber);
    // if(sessionArtistNumber != null) {
    //     $("#artistNumber").val(sessionArtistNumber);
    // }
    // 드래그 해서 영역에 아이템을 내리면 그게 files에 저장되고 그 이미지 url따서 그걸 div 영역에 이미지 태그로 넣는거
    var fileList = []; //파일 정보를 담아 둘 배열
    let imgBox = $(".img_box");
    let str = "";

    $(function () {
        //드래그앤드랍
        $(".file_drop").on("dragenter", function (e) { // 드래그 한 아이템을 영역 위로 올렸을 때 반응
            e.preventDefault(); // 페이지를 이동시킨다거나 form 안에 있는 input 등을 전송한다던가 그러한 동작이 있는데 e.preventDefault 는 그 동작을 중단
            e.stopPropagation(); // e.stopPropagation는 이벤트가 상위 엘리먼트에 전달되지 않게 막아 준다.

            $("#file_drop").show();
            $("#image-samplebox").hide();


        }).on("dragover", function (e) { // 드래그 하면서 마우스가 대상 객체의 위에 자리 잡고 있을 때 발생함.
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF2E5");
        }).on("dragleave", function (e) { // 드래그가 영역을 벗어났을 때
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF");
        }).on("drop", function (e) { // 아이템을 떨어뜨렸을 때
            e.preventDefault();
            // 아이템을 떨어트리면
            var files = e.originalEvent.dataTransfer.files; // 기본 event를 불러오고.기본 event로 전송된 데이터를 가져와서.files 를 찾는다.
            console.log(files);

            $("#file_drop").hide();
            $("#image-samplebox").show();

            $("#image-samplebox").attr("src", window.URL.createObjectURL(files[0]));
            console.log(e.target);
            console.log($("#image-samplebox").attr("src"));
            console.log(window.URL.createObjectURL(files[0]))
            let formData = new FormData();
            formData.append("uploadFiles", files[0]);

            $.ajax({
                url: "/file/work/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function (file) {
                    // showUploadResult(files);
                    console.log(file[0]);
                    fileList.push(file[0]);
                    console.log(file[0].fileName);
                    console.log(file[0].uuid);
                    console.log(file[0].uploadPath);

                    $("#fileName").val(file[0].fileName)
                    $("#uuid").val(file[0].uuid)
                    $("#uploadPath").val(file[0].uploadPath)
                    console.log($("#fileName").val());
                    console.log($("#uuid").val());
                    console.log($("#uploadPath").val());
                    // str += "<input type='hidden' id='fileName' name='fileName' value='" + file[0].fileName + "'>"
                    // str += "<input type='hidden' id='uuid' name='uuid' value='" + file[0].uuid + "'>"
                    // str += "<input type='hidden' id='uploadPath' name='uploadPath' value='" + file[0].uploadPath + "'>"
                    // str += "<input type='hidden' name='fileList.image' value='" + $("#image-samplebox").data("image") + "'>"
                    // str += "<input type='hidden' name='fileList[" + i + "].fileSize' value='" + $(li).data("filesize") + "'>"
                }
            });
        });

        let formData = new FormData($("#fileForm")[0]);
    });
    /*
    1. processData:false

    : 기본값은 true로, 데이터를 "application/x-www-form-urlenceded" 타입으로 전송합니다.

    -> 다른 형식으로 전송하기 위해 false로 지정합니다.

    2. contentType:false

    : 기본값은 "application/x-www-form-urlenceded"

    -> 파일의 경우 "multipart/form-data"방식으로 전송하기 위해 false로 지정합니다.

    * */
<!-- 유효성 검사 -->
    function purchase_link() {
        if(!$("input[name=workName]").val()){
           // console.log("length");
            $(".warning_msg1").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg1").hide();
        }

        if(!$("input[name=artistName]").val()){
           // console.log("length1");
            $(".warning_msg2").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg2").hide();
        }

        if(!$("input[name=workReleaseDate]").val()){
           // console.log("length2");
            $(".warning_msg3").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg3").hide();
        }

        if(!$("input[name=workGenre]").val()){
           // console.log("length3");
            $(".warning_msg4").show();
            $(".info_area2").css("min-height", "120px"); 
            return false;
        }else{
            $(".warning_msg4").hide();
        }

        if(!$("input[name=workTag]").val()){
           // console.log("length3");
            $(".warning_msg5").show();
            $(".info_area2").css("min-height", "120px");
            return false;
        }else{
            $(".warning_msg5").hide();
        }

        alert("등록되었습니다");
        $("Form#registerForm").submit();
        return true;
    }



</script>

</html>