<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/assets/css/RecruitingDetail/RecruitingDetail.css">
</head>
<body>
    <div class="content">
        <p class="title-text">아티스트 모집 공고</p>
    </div>
    <div class="big-box" style="display: block;">
        <div class="detail-title">
            <span class="orange-box">new</span>
            <p>아마추어 로드 페스티벌(Amateur Road Festival)</p>
        </div>
        <div class="detail-date">
            <span>
                등록일 : 2022-06-13
            </span>
            <span>조회수 : 506</span>
        </div>
        <div class="detail-view">
            <div class="view-layout">
                <div class="view-left">
                    <img src="http://tkfile.yes24.com/upload2/PerfBlog/202205/20220523/20220523-42255.jpg" width="180" height="252">
                </div>
                <div class="view-right">
                    <p class="view-title">아마추어 로드 페스티벌(Amateur Road Festival)</p>
                    <div class="view-box">
                        <div>
                            <p class="noti" id="noti1"></p>
                            <div class="view-long-box">
                                <span id="title1"><em>신청기간</em></span>
                                <span id="title1">2022.06.17(금) 오후 2:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="view-btns">
                        <!-- <a>신청하기</a> -->
                        <a class="small-right-box"><span id="title1">신청하기</span></a>
                        <a class="small-right-box"><span id="title1">신청하기</span></a>
                    </div>
                </div>
            </div>
        </div>
                    
                    <!-- 디테일 페이지 내용 -->
                    <div class="view-content">
                        <!--공연개요, 할인정보, 기획사정보-->
                        <div class="noti-view-coment">
                            <p class="noti-view-comen-tit">공연 개요</p>
                            <div class="noti-view-comen-txt">- 공연명 : 뮤지컬 데스노트 (The Musical Death Note)
                    <br>- 공연장소 : 예술의전당 오페라극장
                    <br>- 공연기간 : 2022년 7월 1일(금) ~ 2022년 8월 14일(일)
                    <br>- 공연시간 : 화,목,금 7시 30분 / 수 2시 30분, 7시 30분 / 토,일,공휴일 2시, 7시 (월 공연없음)
                    <br>- 티켓가격 : R 15만원, S 13만원, A 10만원, B 7만원
                    <br>- 관람연령 : 14세 이상 관람가 / 2009년 포함 이전 출생자 관람 가능 
                    <br>내·외국 학교 재학 및 지난 시즌 관람 여부와 관계없이 
                    <br>2010년 포함 이후 출생자 관람 불가 (미취학 아동, 초등학생 관람 불가)
                    <br>
                    <br>※ 2차 티켓오픈
                    <br>- 일반 예매 : 2022년 6월 17일(금) 오후 2시 
                    <br>- 2차 티켓오픈 공연기간 : 2022년 7월 12일(화) ~ 7월 31일(일) 공연
                    <br>
                    <br>※ 정부의 공연장 방역 수칙에 따라 운영사항이 변동 될 수 있습니다. 
                    <br>예매 및 관람 시 예매 페이지에서 자세한 내용을 확인해주시기 바랍니다.</div></div>
                        <div class="noti-view-coment">
                            <p class="noti-view-comen-tit">공연 소개</p>
                            <div class="noti-view-comen-txt"><p>
                                <b>강력한 ‘데스노트’의 신드롬은 계속된다!&nbsp;</b>
                            </p>
                            <p><br></p>
                            <p>‘역대 최단기 전회 매진’ 객석 점유율 100%!&nbsp;</p>
                            <p>연일 계속되는 매진 행렬 속 뮤지컬 &lt;데스노트&gt; 전격 연장 확정!&nbsp;</p>
                            <p><br></p>
                            <p>뜨거운 호평과 관객 성원에 힘입어</p>
                            <p>단 6주간, 예술의전당 오페라극장에서 흥행 돌풍을 이어간다!&nbsp;&nbsp;</p>
                            <p><b><br></b></p>
                            <p>
                                <b>오디컴퍼니가 선보이는 또 하나의 대작! 뮤지컬 &lt;데스노트&gt;</b>
                            </p>
                            <p><b>2022년 또 한 번의 센세이션을 일으키다!&nbsp;</b></p>
                            <p><br></p>
                            <p>매력적인 캐릭터와 흥미진진한 스토리, 프랭크 와일드혼의 음악으로</p>
                            <p>언론과 평단의 극찬을 받았던 뮤지컬 &lt;데스노트&gt;</p>
                            <p><br></p>
                            <p>오디컴퍼니의 논 레플리카(Non-Replica)로 제작되는 뮤지컬 &lt;데스노트&gt;는&nbsp;</p>
                            <p>작품의 고유한 매력과 함께 더욱 긴장감 넘치는 전개와 템포의 연출,</p>
                            <p>디테일한 아이디어가 넘치는 무대 예술로 완성도 높은 작품으로 선보인다.</p>
                            <p><b><br></b></p>
                            <p><b>전 세계를 강타한 메가히트 컨텐츠 데스노트(Death Note)!</b></p>
                            <p><br></p>
                            <p>독특한 소재와 신선하고 개성 넘치는 캐릭터, 두 천재의 치밀한 심리전을 그린 작품으로&nbsp;</p>
                            <p>일본 자체 누적 판매량 3,000만 부를 돌파하고 약 60개국에서 발행되며 대히트를 기록했다.&nbsp;</p>
                            <p><br></p>
                            <p>뮤지컬뿐만 아니라, 애니메이션, 영화, 드라마 등 다양한 장르로 재탄생하며&nbsp;</p>
                            <p>놀라운 파급력과 대체불가한 독보적인 사랑을 받아 온 데스노트(Death Note)</p>
                            <p><br></p>
                            <p><br></p>
                            <p><b>[캐스팅]</b></p>
                            <p>야가미 라이토 ㅣ 홍광호 고은성</p>
                            <p>엘(L) ㅣ 김준수 김성철</p>
                            <p>렘 ㅣ 김선영 장은아</p>
                            <p>류크 ㅣ 강홍석 서경수</p>
                            <p>아마네 미사 ㅣ 케이 장민제</p>
                            <p>야가미 소이치로 ㅣ 서범석</p>
                            <p>야가미 사유 ㅣ 류인아</p>
                            <p>이데 ㅣ 서만석</p>
                            <p>모기 ㅣ 이호진</p>
                            <p>아이자와 ㅣ 맹원태</p>
                            <p>마츠다 ㅣ 최원종</p>
                            <p>우키타 ㅣ 정회윤</p>
                            <p>앙상블 ㅣ 주홍균 김시영 서재홍 박태경 최희재 손지훈 강경현 오차연 김다혜 기영수</p>
                            <p>스윙 ㅣ 한연주 김종준 김서안 박영빈</p>
                            <p><br></p>
                            <p><b>[CREATIVE TEAM]</b></p>
                            <p>- 프로듀서 : 신춘수</p>
                            <p>- 작곡 : 프랭크 와일드혼 (Frank Wildhorn)</p>
                            <p>- 작사 : 잭 머피 (Jack Murphy)</p>
                            <p>- 대본 : 이반 멘첼 (Ivan Menchell)&nbsp;</p>
                            <p>- 연출 : 김동연</p><p>- 공동 프로듀서 : 조정만</p>
                            <p>- 편곡&amp;오케스트레이션 : Jason Howland</p>
                            <p>- 음악감독 : 김문정</p>
                        </div>
                    </div>
                        <div class="noti-view-coment">
                            <p class="noti-view-comen-tit">할인 정보</p>
                            <div class="noti-view-comen-txt">- 청소년 할인(중, 고등학생) : A/B석 30% (2004~2009년 출생자, 1인 1매)
                    <br>- 장애인/국가유공자 할인 : 50% (장애인 1~3급(중증) 1인 2매 / 장애인 4~6급(경증), 국가유공자 1인 1매)
                    <br>- 20인 이상 단체 문의 : 오픈리뷰 1588-5212 / 오디컴퍼니 02-6467-2210
                    <br>
                    <br>※ 회차당 1인 4매 구매 가능합니다.
                    <br>※ 캐스팅 스케줄은 별도 공지됩니다. 자세한 할인 정보는 예매 페이지를 참고하세요.
                </div>
            </div>
                <div class="noti-view-coment">
                    <p class="noti-view-comen-tit">기획사 정보</p>
                        <div class="noti-view-comen-txt">- 제작 : 오디컴퍼니㈜, 티비씨, TJB
                    <br>- 투자 : ㈜인터파크, 라이언자산운용
                    <br>- 홍보/마케팅 : 오픈리뷰㈜
                        </div>
                    </div>
                </div>
                <div class="last-btn">
                    <a href="" class="noti-list">목록보기</a>
                </div>
            </div>
                
            
            
            
</body>
</html>