<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/assets/css/join/admin.css" />
    <!--카카오-->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="YOUR_SDK_FILE_PATH"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('2a9839ef613b9a44fa7dec258d75536e');

        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>

    <!--네이버-->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--로그인 끝-->
</head>

<body style="height: 91%; display: flex;
    align-items: center;
    justify-content: space-evenly;">
<form action="/user/join" method="post" id="userJoinForm">
    <!-- 회원가입 첫 페이지 -->
    <div class="sign-logo">

            <a href="/main/" class="pf-logo" id="logo" style="text-decoration: none; color: #ff8c1b;"><h1 style="padding-top: 45px;">Buskers</h1></a>
    </div>
    <div class="select-container">
        <div class="text-signup">다음 가입방법 중 하나를 선택하세요.</div>

        <div class="container sign-container">
            <div class="btn-signup">
                <a href="" class="btn-signupemail">일반 아이디로 가입하기</a>
                <a href="javascript:loginFormWithKakao()" class="btn-signupkakao"><img src="/images/admin/free-icon-kakao-talk-2111466.png"
                        width="20px;" height="20px;" alt="">&nbsp; 카카오 아이디로 로그인</a>
                <!-- <a href="https://www.flaticon.com/kr/free-icons/-" title="카카오 톡 아이콘">카카오 톡 아이콘  제작자: Pixel perfect - Flaticon</a> -->
                <a style="display: none;" href="javascript:naverSignInCallback()" class="btn-signupnaver"><img src="/images/admin/naver_icon.svg" width="20px;"
                        height="20px;" alt="">&nbsp; 네이버 아이디로 로그인</a>
            </div>
        </div>
    </div>
    <!-- 이메일 회원가입 이용약관 페이지  -->
    <div class="select-email" style="display: none;">
        <div class="service">
            <h1>이용약관</h1>
        </div>
        <div class="service-checkbox">
            <ul class="service-list">
                <li><label for="ckb-service"><input type="checkbox" name="checkbox" id="ckb-service"
                            class="cb-service"><span><em>(필수)</em> 이용약관</span></label></li>
                <li><label for="ckb-privacy"><input type="checkbox" name="checkbox" id="ckb-privacy"
                            class="cb-privacy"><span><em>(필수)</em> 개인정보 수집 및 이용 안내</span></label></li>
                <li><label for="ckb-personal"><input type="checkbox" name="checkbox" id="ckb-personal"
                            class="cb-personal"><span><em>(필수)</em> 제 3자 제공 동의</span></label></li>
                <li><label for="ckb-personal-select"><input type="checkbox" name="checkbox" id="ckb-personal-select"
                            class="cb-personal-select"><span> 제 3자 제공 동의(선택)</span></label></li>
                <li class="ckb-event"><label for="ckb-event"><input type="checkbox" name="checkbox" id="ckb-event"
                            class="cb-event"><span>
                            이벤트/혜택 알림 동의</span></label></li>
            </ul>
        </div>
        <div class="select-all">
            <div class="ckb-all">
                <div><label for="ckb-all"><input type="checkbox" name="cb-all" id="ckb-all"
                            class="cb-all"><span>전체동의</span></label></div>
                <small>(선택) 이벤트/혜택 알림을 포함하여 모두 동의합니다.</small>
            </div>
        </div>
        <div class="btn-signup">
            <a href="" class="btn-signupnext">다음</a>
        </div>
    </div>
    <!-- 본인 인증 페이지 -->
    <div class="self-authentication" style="display: none;">

        <div>
            <h1>본인인증</h1>
        </div>
        <div class="authentication-form">
            <input type="text" name="userName" class="inputText" id="Name" placeholder="닉네임">
            <p class="user-name"></p>
            <div class="send">
                <input type="text" name="userPhoneNumber" id="Phone" class="inputText" placeholder="휴대폰 번호 (- 제외)">
                <button>인증번호전송</button>
            </div>
            <p class="user-phone"></p>
            <div class="send-number" style="display: none;">
                <input type="text" class="inputText" id="number" placeholder="인증번호 입력">
            </div>
            <p class="user-number"></p>
        </div>
        <div class="btn-signup">
            <a href="" class="btn-selfnext">인증 완료</a>
        </div>
    </div>
    <!-- 회원가입 페이지 -->
    <div class="signin-container" style="display: none;">
        <div class="signin-form">
            <h1>회원가입</h1>

                <div class="select-id">
                    <input type="text" name="userId" class="inputText" placeholder="아이디" id="userId">
                    <button id="searchId">중복확인</button>
<!--                    @                    <select class="inputText">-->
<!--                        <option value="">선택</option>-->
<!--                        <option value="naver.com">naver.com</option>-->
<!--                        <option value="gmail.com">gmail.com</option>-->
<!--                    </select>-->
                </div>
                <p class="id-check"></p>
                <p class="id-agree"></p>
                <div>
                    <input type="password" name="userPw" id="userPw" class="inputText" placeholder="비밀번호">
                    <p class="signin-password"></p>
                    <input type="password" id="pw-check" class="inputText" placeholder="비밀번호 확인">
                    <p class="check-password"></p>
                </div>
                <div class="btn-signup">
                    <a href="/user/login" class="btn-submitnest">가입 완료</a>
                </div>
        </div>
    </div>
    </form>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/assets/js/login/login.js"></script>

<!--카카오-->
<!--카카오톡 로그인-->
<script type="text/javascript">
    function loginFormWithKakao() {
        Kakao.Auth.loginForm({
            success: function(authObj) {
                showResult(JSON.stringify(authObj))
            },
            fail: function(err) {
                showResult(JSON.stringify(err))
            },
        })
    }
    function showResult(result) {
        result(window.location.href = "/main/"); //로그인 완료시 메인페이지 이동
    }
</script>
<!--카카오 끝-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(".btn-signupemail").on("click", function (e) {
        e.preventDefault();
        $(".select-container").hide();
        $(".select-email").show();
    });
    $(".btn-signupnext").on("click", function (e) {
        e.preventDefault();
        if (!$("#ckb-service").is(":checked")) {
            alert("필수 부분을 체크해주세요.");
            return false;
        }
        if (!$("#ckb-privacy").is(":checked")) {
            alert("필수 부분을 체크해주세요.");
            return false;
        }
        if (!$("#ckb-personal").is(":checked")) {
            alert("필수 부분을 체크해주세요.");
            return false;
        }
        $(".select-email").hide();
        $(".self-authentication").show();
    });
    $(document).ready(function () {
        $(".btn-selfnext").on("click", function (e) {
            e.preventDefault();
            if ($("#Name").val().length == 0) {
                $(".user-name").text("닉네임을 입력하세요.");
                $("#Name").focus();
                return false;
            }else {
                $(".user-name").text("");
            }
            if ($("#Phone").val().length == 0) {
                $(".user-phone").text("휴대폰번호를 입력하세요.");
                $("#Phone").focus();
                return false;
            }else {
                $(".user-phone").text("");
            }
            if($("#number").val() != 1234) {
                $(".user-number").text("인증 번호를 제대로 입력해주세요.");
                $("#number").focus();
                return false;
            }else {
                $(".user-number").text("");
            }
            let phoneNumber = $("#Phone").val();
            $.ajax({
                url: "/user/phoneNumberSearch/" + phoneNumber,
                type: "post",
                success: function(result){
                   if(result) {
                       alert("이미 가입된 휴대폰 번호입니다.")
                       location.href="/user/login"
                   }
                },
                error: function(xhr, status, er){
                    if(error){
                        error(xhr, status, er);
                    }
                }

            })

            $(".self-authentication").hide();
            $(".signin-container").show();
        });
    });
    $(".btn-submitnest").on("click",function(e){
        e.preventDefault();
        var pw = $("#userPw").val();
        var check = $("#pw-check").val();
        var num = pw.search(/[0-9]/g);
        var eng = pw.search(/[a-z]/ig);
        if($("#userId").val().length == 0) {
            $(".id-check").text("아이디를 입력하세요.");
            $("#userId").focus();
            return false;
        }else{
            $(".id-check").text("");
        }
        if (pw.length < 8 || pw.length > 20) {
            $(".signin-password").text("8자리 ~ 20자리 이내로 입력해주세요.");
            return false;
        } else if (pw.search(/\s/) != -1) {
            $(".signin-password").text("비밀번호는 공백 없이 입력해주세요.");
            return false;
        } else if (num < 0 || eng < 0) {
            $(".signin-password").text("영문,숫자를 혼합하여 입력해주세요.");
            return false;
        } else {
            $(".signin-password").text("");
        }

        if (pw != check) {
            $(".check-password").text("두 비밀번호가 맞지 않습니다.");
            pw = "";
            check = "";
            return false;
        } else {
            $(".check-password").text("");
        }
        console.log("통과");
        console.log($("input[name=userName]").val())
        $("#userJoinForm").submit();

        return true;
    });

    $(document).ready(function () {
        $("#ckb-all").click(function () {
            if ($("#ckb-all").is(":checked")) $("input[name=checkbox]").prop("checked", true);
            else $("input[name=checkbox]").prop("checked", false);
        });

        $("input[name=checkbox]").click(function () {
            var total = $("input[name=checkbox]").length;
            var checked = $("input[name=checkbox]:checked").length;

            if (total != checked) $("#ckb-all").prop("checked", false);
            else $("#ckb-all").prop("checked", true);
        });
    });

    $(".send button").on("click", function(e) {
        e.preventDefault();
        $(".send-number").show();
    });
</script>

<script>
    $(".id-check").css("color", "red")
    let idCheck = false;
    $("#searchId").click(function (e) {
        $(".id-check").text("");
        e.preventDefault();
        if($("#userId").val().length == 0) {
            $(".id-check").text("아이디를 입력하세요.");
            $("#userId").focus();
            return;
        }
        let userId = $("#userId").val();
        searchId(userId);
    })

    function searchId(userId, callback, error){
        $(".id-check").css("color", "red")
        $.ajax({
            url: "/user/" + userId,
            type: "post",
            data: userId,
            // dataType: 'html',
            contentType: "charset=UTF-8",
            success: function(result){
                    if(result != ""){
                        $(".id-check").text("이미 존재하는 아이디입니다. 다시 입력하세요.");
                        idCheck = true;
                    }
                    else {
                        $(".id-check").text("사용 가능한 아이디입니다.");
                        $(".id-check").css("color", "blue")
                    }
            },
            error: function(xhr, status, er){
                if(error){
                    error(xhr, status, er);
                }
            }
        })
    };
</script>


</html>