<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myArtist-recruiting.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

    <!-- 아티스트 모집공고 -->
    <div class="big-box-2">
        <div>
            <div>
                <p class="box-name">아티스트 모집 공고</p>
            </div>
            <div>
                <div class="small-5-box" style="text-align:center;">
                    <div class="image-plus-box">
                        <div>
                            <img src="small-5-poster.png" alt="#">
                        </div>
                        <div class="small-5-box-textbox">
                            <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                            <p id="small-5-box-downtext">역삼역 4거리</p>
                        </div>
                    </div>
                    <div class="image-plus-box">
                        <div>
                            <img src="small-5-poster.png" alt="#">
                        </div>
                        <div class="small-5-box-textbox">
                            <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                            <p id="small-5-box-downtext">역삼역 4거리</p>
                        </div>
                    </div>
                    <div class="image-plus-box">
                        <div>
                            <img src="small-5-poster.png" alt="#">
                        </div>
                        <div class="small-5-box-textbox">
                            <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                            <p id="small-5-box-downtext">역삼역 4거리</p>
                        </div>
                    </div>
                    <div class="image-plus-box">
                        <div>
                            <img src="small-5-poster.png" alt="#">
                        </div>
                        <div class="small-5-box-textbox">
                            <p id="small-5-box-uptext">2022.06.10(금) 09:00</p>
                            <p id="small-5-box-downtext">역삼역 4거리</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- 표 -->
    <div class="search-line">
        <div class="search-box">
            <input class="search-outline" type="text" placeholder="궁금하신 내용을 입력해주세요" autocomplete="off">
            <a onclick="jsf_notice_Search();" style="cursor: pointer"></a>
            <img src="Magnifier.png" alt="">
        </div>
    </div>
    <div class="board-list">
        <div class="board-table">
            <table>
                <tbody>
                    <tr><th scope="col">구분</th><th scope="col">제목</th><th scope="col">티켓오픈 일시</th><th scope="col">조회수</th></tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11869"><em>뮤지컬 데스노트 (The Musical Death Note) 2차 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.17(금) 14:00</td>
                                <td>
                                    284
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11868"><em>2022 케니 지(Kenny G) 월드투어 내한공연 - 서울 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.17(금) 11:00</td>
                                <td>
                                    136
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11867"><em>2022 케니 지(Kenny G) 월드투어 내한공연 - 부산 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.17(금) 11:00</td>
                                <td>
                                    76
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11866"><em>뮤지컬 [쓰릴 미] 1차 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.14(화) 16:00</td>
                                <td>
                                    276
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    서비스점검
                                </td>
                                <td>
                                    <a href="#id=11865"><em>전자금융공동망 점검 작업에 따른 결제 서비스 중단 안내(6/18, 6/19)</em></a>
                                </td>
                                <td>
                                    </td>
                                <td>
                                    66
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11864"><em>뮤지컬 〈시데레우스〉 프리뷰 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.16(목) 15:00</td>
                                <td>
                                    257
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11862"><em>노을진 한강, 돌아온 웃음, 네온빛 음악. 스마일러브위크엔드! 티켓오픈안내</em></a>
                                </td>
                                <td>
                                    2022.06.10(금) 17:00</td>
                                <td>
                                    519
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11861"><em>뮤지컬 &lt;차미&gt; 마지막 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.14(화) 11:00</td>
                                <td>
                                    415
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11860"><em>뮤지컬 [더 와일드의 변론 - 거짓의 쇠락, 도리안 그레이의 초상] 2차 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.17(금) 15:00<a class="noti-btn-pop" presaletit1="선예매" presaletit2="" presaletime1="2022.06.17(금) 11:00" presaletime2=""><img src="http://tkfile.yes24.com/imgNew/common/btn-notice1.png" alt=""></a></td>
                                <td>
                                    137
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11859"><em>뮤지컬 [괴테의 변론 - 젊은 베르테르의 슬픔] 2차 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.16(목) 15:00<a class="noti-btn-pop" presaletit1="선예매" presaletit2="" presaletime1="2022.06.16(목) 11:00" presaletime2=""><img src="http://tkfile.yes24.com/imgNew/common/btn-notice1.png" alt=""></a></td>
                                <td>
                                    149
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11858"><em><span>단독판매</span></em><em>[Light Up Concert] 티켓 오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.13(월) 19:00</td>
                                <td>
                                    2,234
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    서비스점검
                                </td>
                                <td>
                                    <a href="#id=11856"><em>은행사 시스템 점검에 따른 결제 서비스 중단 안내(6/11, 6/12, 6/18, 6/19, 6/20)</em></a>
                                </td>
                                <td>
                                    </td>
                                <td>
                                    155
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11855"><em><span>단독판매</span></em><em>OUTLIVE Concert Vol.2 My OUTLIVE [Malibu] 티켓오픈안내</em></a>
                                </td>
                                <td>
                                    2022.06.09(목) 14:00</td>
                                <td>
                                    1,810
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11854"><em>뮤지컬 [미아 파밀리아] 3차 티켓 오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.15(수) 11:00</td>
                                <td>
                                    222
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11853"><em>방용국 글로벌 팬밋업 [Bangstergram] 온라인중계 티켓오픈안내</em></a>
                                </td>
                                <td>
                                    2022.06.09(목) 17:00</td>
                                <td>
                                    1,381
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11852"><em><span>단독판매</span></em><em>춘하추동 [디톡스 콘서트] - 부산 티켓오픈안내</em></a>
                                </td>
                                <td>
                                    2022.06.13(월) 14:00</td>
                                <td>
                                    474
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11851"><em><span>단독판매</span></em><em>방용국 글로벌 팬밋업 [Bangstergram] 티켓 오픈안내</em></a>
                                </td>
                                <td>
                                    2022.06.09(목) 17:00</td>
                                <td>
                                    8,559
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11850"><em>[you.will.knovv] THE DIE IS CASTTT; Capsule live 6 티켓 오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.13(월) 20:00</td>
                                <td>
                                    691
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11849"><em>Christian Kuria Live in Seoul 티켓 오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.08(수) 14:00</td>
                                <td>
                                    884
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    티켓오픈
                                </td>
                                <td>
                                    <a href="#id=11848"><em>바이올리니스트김응수와 함께하는 비발디&amp;피아졸라의 사계 티켓오픈 안내</em></a>
                                </td>
                                <td>
                                    2022.06.07(화) 11:00</td>
                                <td>
                                    500
                                </td>
                            </tr>
                            
                        
                        
                    
                    </tbody>

            </table>

        </div>
    </div>

    <!-- 페이징 -->
    <div class="paging">
        <div class="list-pagenation">
            <a class="list-page-first">
                <img src="http://tkfile.yes24.com/imgNew/common/ico-page2.png" alt="처음 페이지">
            </a>
            <a class="list-page-prev">
                <img src="http://tkfile.yes24.com/imgNew/common/ico-page1.png" alt="이전페이지">
            </a>
            <div>
                <a class="on">1</a>
                <a href="#page=2">2</a>
                <a href="#page=3">3</a>
                <a href="#page=4">4</a>
                <a href="#page=5">5</a>
                    <a href="#page=6">6</a>
                    <a href="#page=7">7</a>
                    <a href="#page=8">8</a>
                    <a
                    href="#page=9">9</a>
                    <a href="#page=10">10</a>
                </div>
                <a href="#page=2" class="list-page-next">
                    <img src="http://tkfile.yes24.com/imgNew/common/ico-page1.png" alt="다음페이지"></a>
                    <a href="#page=11"class="list-page-last">
                <img src="http://tkfile.yes24.com/imgNew/common/ico-page2.png" alt="마지막 페이지">
            </a>
        </div>
    
    </div>
    <!-- <a href="#" class="moveTopBtn"> -->
        <!-- <a href="#" class="return-top"></a>
        <img src="return-top.png" alt="">
        <div class="moveTopBtn">↑</div>
    </a> -->
    

    <!-- 맨위로 가기 이미지 버튼 시작 -->
<a href="#" class="jcm-top hidden-xs hidden-sm">
    <i class="icon icon-angle-up"></i>
    <!-- <img src="return-top2.jpg" alt=""> -->
</a>

    
</body>

<!-- 맨위로 올리는 버튼 -->
<script>
    // const $topBtn = document.querySelector(".moveTopBtn");

// 버튼 클릭 시 맨 위로 이동
// $topBtn.onclick = () => {
//   window.scrollTo({ top: 0, behavior: "smooth" });  
// }



//위로 올라가는 버튼 클릭하면
// $(".return-top").on('click',function(e){
// 		e.preventDefault();
// 		$(window).scrollTop(0);
// 	});

//위로 올라가는 버튼 나타나게
		// if(sctop>0){
		// 	$(".return-top").addClass("on");
		// }else{
		// 	$(".return-top").removeClass("on");
		// }

        $( document ).ready( function() {$( window ).scroll( function() {if ( $( this ).scrollTop() > 200 ) {$( '.jcm-top' ).fadeIn();} else {$( '.jcm-top' ).fadeOut();}} );$( '.jcm-top' ).click( function() {$( 'html, body' ).animate( { scrollTop : 0 }, 400 );return false;} );} )
        // <!-- 맨위로 가기 이미지 버튼 끝 -->


</script>

</html>