<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.user.LikeMapper">
    <!--좋아요 등록 (아티스트)-->
    <insert id="insertArtistLike">
        INSERT INTO TBL_LIKE
        (USER_NUMBER, ARTIST_NUMBER, LIKE_CATEGORY)
        VALUES (#{userNumber}, #{artistNumber}, 'A')
    </insert>

    <delete id="deleteArtistLike">
        DELETE FROM TBL_LIKE
        WHERE USER_NUMBER= #{userNumber} AND ARTIST_NUMBER = #{artistNumber}
    </delete>

    <!--좋아요 등록 (작품)-->
    <insert id="insertWorkLike">
        INSERT INTO TBL_LIKE
        (USER_NUMBER, WORK_NUMBER, LIKE_CATEGORY)
        VALUES (#{userNumber}, #{workNumber}, 'W')
    </insert>

    <!--좋아요 취소-->

    <!--매개변수로 likeType을 전달해서 'A'인지 'W'인지를 구분)-->
    <!--매개변수로 typeNumber을 전달해서 해당 type의 number를 입력)-->
    <delete id="delete">
        DELETE FROM TBL_LIKE
        WHERE
        <choose>
            <when test='listDTO.likeCategory == "A"'>
                USER_NUMBER= #{userNumber} AND ARTIST_NUMBER = #{number}
            </when>
            <when test='listDTO.likeCategory == "W"'>
                USER_NUMBER= #{userNumber} AND WORK_NUMBER = #{number}
            </when>
        </choose>
    </delete>


<!--    좋아요 아티스트 목록-->
    <select id="getLikeArtistList" resultType="likeVO">
        SELECT USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, ARTIST_NAME, ARTIST_TYPE, ARTIST_NUMBER
        FROM
        (SELECT ROWNUM RN, USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, ARTIST_NAME, ARTIST_TYPE, ARTIST_NUMBER
        FROM
        (SELECT tl.USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, ARTIST_NAME, ARTIST_TYPE, ta.ARTIST_NUMBER
        FROM TBL_LIKE tl, TBL_ARTIST ta
        WHERE tl.ARTIST_NUMBER = ta.ARTIST_NUMBER AND tl.USER_NUMBER = #{userNumber}
        <choose>
            <when test='listDTO.artistType == "M"'>
                AND ARTIST_TYPE = 1
            </when>
            <when test='listDTO.artistType == "P"'>
                AND ARTIST_TYPE = 2
            </when>
        </choose>
        ORDER BY LIKE_DATE DESC)
        <![CDATA[
         WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
        )
        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>


    <!-- 좋아요 작품 목록-->
    <select id="getLikeWorkList" resultType="likeVO">
    SELECT USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, WORK_NAME, WORK_NUMBER, ARTIST_NAME
    FROM(SELECT ROWNUM RN, USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, WORK_NAME, WORK_NUMBER, ARTIST_NAME
    FROM(SELECT tl.USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, WORK_NAME, tw.WORK_NUMBER, ta.ARTIST_NAME
        FROM TBL_LIKE tl, TBL_WORK tw, TBL_ARTIST ta
        WHERE tl.WORK_NUMBER = tw.WORK_NUMBER AND tw.ARTIST_NUMBER = ta.ARTIST_NUMBER AND tl.USER_NUMBER = #{userNumber}
        ORDER BY LIKE_DATE DESC)
    <![CDATA[
        WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
        )
        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>


    <!--아티스트 좋아요 개수-->
    <select id="getTotalArtist" resultType="_int">
        SELECT COUNT(*)
        FROM
        (SELECT tl.USER_NUMBER, LIKE_DATE, LIKE_CATEGORY, ARTIST_NAME, ARTIST_TYPE
        FROM TBL_LIKE tl, TBL_ARTIST ta
        WHERE tl.ARTIST_NUMBER = ta.ARTIST_NUMBER AND tl.USER_NUMBER = #{userNumber}
        <choose>
            <when test='listDTO.artistType == "M"'>
                AND ARTIST_TYPE = 1
            </when>
            <when test='listDTO.artistType == "P"'>
                AND ARTIST_TYPE = 2
            </when>
        </choose>
        ORDER BY LIKE_DATE DESC)
    </select>



    <!-- 작품 좋아요 개수 -->
    <select id="getTotalWork" resultType="_int">
        SELECT COUNT (*) FROM TBL_LIKE
        WHERE USER_NUMBER = #{userNumber} AND LIKE_CATEGORY = 'W'
    </select>


</mapper>