<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.user.UserReplyMapper">
    <!-- 유저가 작성한 댓글 불러오기-->
    <select id = "getUserReply">

    </select>
</mapper>