.small-5-box-uptext{
    font-size: 15px;
    color: #ec7d2c;
    padding: 15px 0 26px 0;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    margin: 0;

}
.small-5-box-downtext{
    font-size: 15px;
    color: #000;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    padding: 2px;
    margin-bottom: 10px;
}

.small-5-box-textbox{
    text-align: center;
    position: relative;
    padding: 0 15px;
    border: 1px solid #ddd;
    
}
.image-plus-box{
    margin: 0 12px;
}

/* .box-name {
    padding-top: 78px;
    font-size: 35px;
    color: #333;
    text-align: center;
    font-weight: 700;
    height: 70px;
} */

.box-name {
    font-size: 45px;
    text-align: center;
    color: #333;
    padding: 90px 0 60px 0;
    font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}
p {
    margin: 0;
}


.small-5-box {
    display: flex;
    justify-content: center;
}


/* 검색창 라인 */
.search-line{
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.rank_big_category{
    width:1200px;
}
.rank_category a.on {
    color: #333;
    border-top: 3px solid #ec7d2c;
    padding-right: 12px;
}


.search-box{
    top: 0;
    right: 0;
    width: 400px;
    height: 41px;
    border: 1px solid #333;
    font-size: 0;
    margin: 8px;
    display: flex;
    align-items: center;
    
}

.search-box input{
    display: inline-block;
    border: 0 none;
    padding: 0;
    margin-left: 15px;
    width: 335px;
    height: 41px;
    line-height: 41px;
    font-size: 14px;
    color: #999;
    vertical-align: top;

}

/* 표 라인 */

.board-table{
    
    width: 1200px;
    margin: 0 auto 37px auto;
    border-bottom: 1px solid #999;
}
.board-table th{
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background: #f6f6f6;
    border-top: 2px solid #333;
    text-align: center;
}
.board-table td{
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
    min-height: 22px;
    padding: 19px 0 17px 0;
    vertical-align: middle;
    text-align: center;
}

/* th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
} */



table {
    width: 1200px;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

div{
    padding: 0;
    border: 0;
}


a{
  text-decoration: none; 
  outline: none; 
  
}

em {
    font-style: italic;
}

a:-webkit-any-link {
    
    cursor: pointer;
}

a em {
    display: table-cell;
    min-width: 71px;
    vertical-align: middle;
    color: #000;
    font-style: normal;

}


/* 페이징 */

.list-pagenation {
    text-align: center;
    padding-top: 35px;
}

.list-pagenation a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 0 2px;
    border: 1px solid #ddd;
}
/* < << 방향 바꾸기 */
.list-pagenation a.list-page-next img, .list-pagenation a.list-page-last img {
    transform: rotate(180deg);
}
/* < << 방향키 조금 아래로 내리기 */
.list-pagenation a img {
    vertical-align: middle;
}

.list-pagenation div {
    display: inline-block;
    margin: 0 14px;
}
.paging{
    margin-bottom: 50px;
}
/* 검색창 눌렀을때 아웃라인 없애기 */
.search-outline{
    outline: none;
}
.search-outline a{
    display: inline-block;
    width: 50px;
    height: 41px;
    background: url(http://tkfile.yes24.com/imgNew/common/pf-srch-w.png)no-repeat center center;
    vertical-align: top;
}







/* .moveTopBtn {
    animation-name: rtt;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}

.moveTopBtn {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    overflow: hidden;
    bottom: -50px;
    right: 0;
    z-index: 1;
}


* {
    user-select: none;
  }
  
  .list > div {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
  }
  
  .moveTopBtn {
    width: 4rem;
    height: 4rem;
    background: #000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;
    color: #fff;
  } */
  
  /* .moveTopBtn:hover {
    color: #000;
    background: #febf00;
  } */

img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-style: normal;
    vertical-align: baseline;
    font-family: 'NanumBarunGothic', '���� ����', 'Malgun Gothic', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}



body {
    line-height: 1;
    font-weight: 400;
}

/* .return-top{display:block;position:fixed;width:50px;height:50px;overflow:hidden;bottom:-50px;right:0; z-index:1}
.return-top.on{animation-name:rtt;animation-duration: 0.5s;animation-fill-mode: forwards;}
.return-top.on:hover img{margin-top:-50px;}
@keyframes rtt {
  from {bottom:-50px}
  to {bottom:0;}
} */


/* 맨위로가기 버튼 */
a.jcm-top {
    position: fixed;
    right: 15px;
     bottom: 15px;
     border-radius: 5px;
     color: #ffffff;
     text-align: center;
     width: 45px;
     height: 45px;
     font-size: 40px;
     /*background-color: rgba(50,50,50,0.5);*/
     background-color:#323232;
     opacity:0.5;
     filter:alpha(opacity=50);
     /*ie8 호환을 위한코드 위와 동일한 것임 호환필요없으면 한줄로 rgba적으면됨*/
     z-index: 999;
     display: none;}
     a.jcm-top:hover{background-color:#000}
