<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아티스트 정보</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel='stylesheet' type='text/css' href='/assets/css/artist/artistReply.css'/>
    <link rel="stylesheet" href="/assets/css/artist/artistInfo.css">
</head>

<header th:include="~{/header/header3 :: head}">

</header>

<body style=>
<form name="mainForm" method="post" action="" id="mainForm" th:object="${artist}">
    <div class = "infowrap">
        <div class="renew-wrap">
            <div class="renew-content">
                <div class="rn-01">
                    <p class="rn-location"><a>아티스트</a><a th:text="*{artistCategory}"> </a></p>

                </div>
                <div class="rn-02">
                    <p class="rn-big-title" th:text="*{artistName}"></p>
                    <div class="rn-product-short-data">
                        <p><span class="ps-date"> </span><a><span class="ps-location2"> </span></a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="movie-pop-wrap">
        </div>
        <div class="renew-content">
            <div class="rn-03">

                <div class="rn-03-left">
                    <div class="rn-product-imgbox">
                        <img class="artist-image" src="">
                    </div>
                </div>
                <div class="rn-03-right">
                    <div class="rn-product-area1">
                        <dl>
                            <dt>이름</dt>
                            <dd th:text="*{artistName}">&nbsp;</dd>
                            <dt>분류</dt>
                            <dd th:text="*{artistCategory}">&nbsp;</dd>
                            <dd class="rn-product-dc"></dd>
                        </dl>
                    </div>

                    <div class="rn-product-area3">
                        <dl>
                            <dt>아티스트 소개</dt>
                            <dd th:text="*{artistDescription}"></dd>
                        </dl>

                    </div>
                </div>


            </div>

            <div class="like_box" id="like_box">
                <a href="javascript:;" class="like" id="btn-like">
                    <img src="/images/work/unlike2.png" alt="" class="img1">
                    <img src="/images/work/like2.png" alt="" class="img2" style="display: none;">
                    <span class="like_txt1" id="like_count" th:text="*{likesCount}"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="rn-05">

        <a href="javascript:;" onclick="click_like();" class="rn-bb03" id="btn-modal">후원하기</a>



    </div>
    <!-- 결제 모달창 -->
    <div class="modal">
        <div class="modal_content" title="테스트">
            <!-- 닫기버튼 -->
            <div class="modal_close">
                <span class="modal-close-btn"> 닫기 X </span>
            </div>


            <section class="section-donation-name">
                <!----> <label class="input-label-common donation-name">
                <span> 응원 한마디 </span>
                <input id="donation-name" tabindex="1" type="text" maxlength="30" name="donation-message"></label>
                <label class="input-label-common donation-amount"><span> 후원 금액 </span>
                    <input id="donation-amount" tabindex="2" type="number" autofocus="autofocus" min="100"
                           step="100" placeholder="100" maxlength="7" pattern="\d*" name="donation-money" value="100">
                    <!---->
                    <!---->
                </label>
            </section>

            <div class="modal-content-down">
                <!-- 안내 문구 추가해야함    -->

                <p>후원 클릭 시 결제 페이지로 이동됩니다.</p>
                <a href="#" onclick="donateapi(); return false;" class="rn-bb03-2 godonate">후원</a>
            </div>
        </div>
    </div>


    <!-- 댓글창 시작 -->
    <div id="reply-wrap">

        <strong id='reply-count'></strong>
        <div class="artist-reply-div">

        </div>

        <!--입력-->
        <div class="reply-form">
            <div class="reply-input">
                <textarea name="replyShow" id="replyShow" placeholder="여러분의 소중한 댓글을 입력해주세요."></textarea>
            </div>
            <div class="reply-button">
                <input class="finish" type="submit" value="등록">
            </div>
        </div>

        <!--페이징-->
        <div class="reply-paging">
            <!--                <a id="page-button-prev" href="">< Prev</a>-->
            <!--                <a id="page-button" href="">1</a>-->
            <!--                <a id="page-button-next" href="">Next ></a>-->
        </div>

    </div>
    <!-- 댓글창 끝 -->

    </div>
    <input type="hidden" id="like_check" th:value="${likeCheck}">
    <input type="hidden" id="user_number" th:value="${session.userNumber}">

</form>

<footer th:include="~{/footer/footer :: foot}">

</footer>

</body>

<!--<script>-->


<!--    //후원버튼 클릭시 모달창 열기-->
<!--    $("#btn-modal").click(function () {-->
<!--        console.log("fdd")-->
<!--        $(".modal").fadeIn();-->
<!--    });-->
<!--    //닫기 누를시 모달창 닫기-->
<!--    $(".modal-close-btn").click(function () {-->
<!--        $(".modal").fadeOut();-->
<!--    });-->

<!--</script>-->
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script th:inline="javascript" src="/assets/js/artist/artist_info.js"></script>
<script>
    // ajax 선언






    let artistReplyService = (function () {
        function getListReply(artistNumber, pageNum, callback, error) {
            $.ajax({
                url: "/reply/artist/replyList/" + artistNumber + "/" + pageNum,
                type: "get",
                dataType: "json",
                contentType: "application/json",

                success: function (ArtistReplyPageDTO) {
                    if (callback) {
                        callback(ArtistReplyPageDTO.total, ArtistReplyPageDTO.list);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }
            })
        }

        function createReply(artistReplyVO, callback, error) {
            $.ajax({
                url: "/reply/artist/replyNew",
                type: "post",
                data: JSON.stringify(artistReplyVO),
                contentType: "application/json",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }
            })
        }
        function modifyReply(replyNumber, artistReplyVO, callback, error) {
            $.ajax({
                url: "/reply/artist/" + replyNumber,
                type: "post",
                data: JSON.stringify(artistReplyVO),
                contentType: "application/json",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }

            })
        }

        function removeReply(replyNumber, callback, error) {
            $.ajax({
                url: "/reply/artist/" + replyNumber,
                type: "delete",
                success: function (result) {
                    if (callback) {
                        callback(result);
                    }
                },
                error: function (xhr, status, er) {
                    if (error) {
                        error(xhr, status, er);
                    }
                }

            })
        }

        return {
            getListReply: getListReply,
            createReply: createReply,
            modifyReply: modifyReply,
            removeReply: removeReply
        }
    })();

    // 댓글 연결
    // 기본 전역변수
    let pageNum = 1;
    let replyDiv = $(".artist-reply-div");
    let artistNumber = [[${artist.artistNumber}]];






    $(document).ready(function () {
        // 새로고침 첫 실행 (type : A, pageNum : 1 (기본값))
        replyList(pageNum);

    })

    function replyList(page) {
        artistReplyService.getListReply(artistNumber, page, function (total, list) {
            let str = "";
            if (list == null || list.length == 0) {
                $("#reply-count").text("");
                $("#reply-count").text(total + ' Comments');

                replyDiv.html("");
                return;
            }
            // str += "<strong id='reply-count'>" + total + ' Comments' + "</strong>";
            $("#reply-count").text("");
            $("#reply-count").text(total + ' Comments');

            $.each(list, function (i, reply) {
                str += "<div class='reply-content-wrap' id='"  + reply.replyNumber +  "'><div class='reply-content-flex'><div class='user-profile'>";
                str += "<img class='user-image' src='https://i1.daumcdn.net/thumb/C96x96/?fname=https://img1.daumcdn.net/thumb/C100x100/?scode=mtistory2&fname=https%3A%2F%2Ftistory1.daumcdn.net%2Ftistory%2F5172542%2Fattach%2F5b16521bdfb848a69f47ddb5b5d064ac' alt='' width='48' height='48'></div>";
                str += '<div class="reply-text-box"><div class="reply-content-box"><div class="reply-name"><span class="reply-user">';
                str += '<a id="user-name" href="">' + reply.userName + '</a></span>';
                str += '<span class="reply-date">' + reply.replyUpdateDate + '</span></div>';
                str += '<div class="reply-status">';
                str += '<span id="modify-' + reply.replyNumber + '" class="reply-modify modify ' + reply.replyNumber + '" style="cursor:pointer;">수정</span>';
                str += '<span id="finish-' + reply.replyNumber + '" class="reply-finish finish ' + reply.replyNumber + '" style="display: none;cursor:pointer;">수정완료</span>';
                str += '<span id="delete-' + reply.replyNumber + '" class="reply-delete delete ' + reply.replyNumber + '">삭제</span>'
                str += '<span id="cancel-' + reply.replyNumber + '" class="reply-cancel cancel ' + reply.replyNumber + '" style="display: none;cursor:pointer;">취소</span></div></div>';
                str += '<div id="content-' + reply.replyNumber + '"  class="reply-content content ' + reply.replyNumber + '">' + reply.replyContent + '</div></div></div></div>';
            });
            ;

            replyDiv.html(str);
            artistReplyPage(total);
        });
    }

    //댓글 삭제
    $(".artist-reply-div").on("click", ".reply-delete", function (e) {
        e.preventDefault();
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        if(confirm("댓글을 삭제하시겠습니까?")) {
            artistReplyService.removeReply(this.classList[2], function (result) {
                alert(result);
                replyList(pageNum);
            });
        }
    });


    let updateCheck = false;

    //댓글 수정
    $(".artist-reply-div").on("click", ".reply-modify", function (e) {
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        console.log("수정");
        console.log(this);

        if(confirm("댓글을 수정하시겠습니까?")){
            let replyNumber = this.classList[2];
            let str = "";

            $("#modify-" + replyNumber).hide();
            $("#delete-" + replyNumber).hide();
            $("#finish-" + replyNumber).show();
            $("#cancel-" + replyNumber).show();

            str += '<div class="reply-input">';
            str += '<textarea id="textarea-' + replyNumber + '" class="' + replyNumber + '" name="replyShow" style="width: 100%;height: 70px;border: 1px solid #fff;font-size: 13px;resize: none;box-sizing: border-box;resize: none;margin-top: 10px;">'
            str += $("#content-" + replyNumber).text();
            str += '</textarea></div>';

            // str += "<textarea id='textarea-'" + replyNumber + " class='" + replyNumber + "' style='resize: none;'>";
            // str += $("#content-" + replyNumber).text();
            // str += "</textarea>";

            $("#content-" + replyNumber).replaceWith(str);
            updateCheck = true;
        }
    });

    // 취소 버튼
    $(".artist-reply-div").on("click", ".reply-cancel", function (e) {
        e.preventDefault();
        let replyNumber = this.classList[2];
        $("textarea#textarea-" + replyNumber).val("");
        $("textarea#textarea-" + replyNumber).focus();
    });

    //수정 완료
    $(".artist-reply-div").on("click", ".reply-finish", function (e) {
        e.preventDefault();
        console.log("수정완료");
        console.log(this);
        let replyNumber = this.classList[2];

        if(confirm("댓글을 수정하시겠습니까?")) {
            artistReplyService.modifyReply(replyNumber, {
                replyContent: $("textarea#textarea-" + replyNumber).val()
            }, function (result) {
                alert(result);
                replyList(pageNum);
                updateCheck = false;
            })
        }
    });

    function artistReplyPage(total) {
        let endPage = Math.ceil(pageNum / 10.0) * 10;
        let startPage = endPage - 9;
        let realEnd = Math.ceil(total / 10.0);
        const $paging = $(".reply-paging");

        if (endPage > realEnd) {
            endPage = realEnd;
        }

        let prev = startPage > 1;
        let next = endPage * 10 < total;
        let str = "";

        if (prev) {
            str += '<a class="changePage prevList" href="' + (startPage - 1) + '"><code>&lt;</code>Prev</a>'
        }
        for (let i = startPage; i <= endPage; i++) {
            str += pageNum == i ?  "<code>" + i + "</code>" : "<a class='changePage mypage-page-next' href='" + i + "'><code>" + i + "</code></a>";
        }
        if (next) {
            str += '<a class="changePage nextList" href="' + (endPage + 1) + '">Next<code>&gt;</code></a>'
        }


        $paging.html(str);
    }


    $(".reply-paging").on("click", "a.changePage", function (e) {
        e.preventDefault();
        pageNum = $(this).attr("href");
        replyList(pageNum);
    });


    $(".finish").click(function (e) {
        e.preventDefault();
        if (updateCheck) {
            alert("이미 수정중인 댓글이 있습니다.");
            return;
        }
        const $replyContent = $("textarea[name='replyShow']").val();

        if (!$replyContent) {
            alert("내용을 입력해주세요.");
            return;
        }

        if(confirm("댓글을 등록하시겠습니까?")){
            artistReplyService.createReply({userNumber: 1, artistNumber: artistNumber, replyContent: $replyContent},
                function (result) {
                    $("textarea[name='replyShow']").val("");
                    replyList(pageNum);
                });
            alert("댓글이 등록되었습니다.");
        }
    })





</script>


</html>