<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아티스트 정보</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <link rel="stylesheet" href="/assets/css/artist/artistInfo.css">
</head>

<header th:include="~{/header/header3 :: head}">

</header>

<body style=>
    <form name="mainForm" method="post" action="" id="mainForm">
        <div class="renew-wrap">
            <div class="renew-content">
                <div class="rn-01">
                    <p class="rn-location"><a>아티스트</a><a>뮤지션</a></p>

                </div>
                <div class="rn-02">
                    <p class="rn-big-title">아티스트 이름</p>
                    <div class="rn-product-short-data">
                        <p><span class="ps-date"> </span><a><span class="ps-location2"> </span></a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="movie-pop-wrap">
        </div>
        <div class="renew-content">
            <div class="rn-03">
                <div class="rn-03-left">
                    <div class="rn-product-imgbox">
                        <img src="/images/artist/buskerbukser.jpg">
                    </div>
                </div>
                <div class="rn-03-right">
                    <div class="rn-product-area1">
                        <dl>
                            <dt>이름</dt>
                            <dd>&nbsp;아티스트 이름 들어갈곳</dd>
                            <dt>분류</dt>
                            <dd>&nbsp;뮤지션</dd>
                            <dd class="rn-product-dc"></dd>
                        </dl>
                    </div>

                    <div class="rn-product-area3">
                        <dl>
                            <dt>아티스트 소개</dt>
                            <dd>아티스트 소개 들어갈 곳</dd>

                    </div>
                </div>

                <div class="rn-05">




                    <a href="javascript:;" onclick="click_like();" class="rn-bb03" id="btn-modal">후원하기</a>
                    <a href="javascript:;" onclick="click_like();" class="rn-bb03">좋아요</a>


                </div>
                <!-- 결제 모달창 -->
                <div class="modal">
                    <div class="modal_content" title="테스트">
                        <!-- 닫기버튼 -->
                        <div class="modal_close">
                            <span class="modal-close-btn"> 닫기 X </span>
                        </div>


                        <section class="section-donation-name">
                            <!----> <label class="input-label-common donation-name"><span> 응원 한마디 </span> <input
                                    id="donation-name" tabindex="1" type="text" maxlength="30"></label> <label
                                class="input-label-common donation-amount"><span> 후원 금액 </span> <input
                                    id="donation-amount" tabindex="2" type="number" autofocus="autofocus" min="1000"
                                    step="100" placeholder="1000" maxlength="7" pattern="\d*">
                                <!---->
                                <!---->
                            </label>
                        </section>

                        <div class="modal-content-down">
                            <!-- 안내 문구 추가해야함    -->

                            <p>후원 클릭 시 결제 페이지로 이동됩니다.</p>
                            <a href="javascript:;" onclick="click_donate_api();" class="rn-bb03-2">후원</a>
                        </div>
                    </div>
                </div>





            </div>










    </form>

    <footer th:include="~{/footer/footer :: foot}">

    </footer>

</body>

<script>


    //후원버튼 클릭시 모달창 열기
    $("#btn-modal").click(function () {
        console.log("fdd")
        $(".modal").fadeIn();
    });
    //닫기 누를시 모달창 닫기
    $(".modal-close-btn").click(function () {
        $(".modal").fadeOut();
    });

</script>
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>

</html>