<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>아이디찾기</title>
    <link rel="stylesheet" href="/assets/css/login/login.css"/>
    <link
            rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    />
</head>
<body>
<div class="loginWrap">
    <div class="sign-logo">

        <a href="/main/" class="pf-logo" id="logo" style="text-decoration: none; color: #ff8c1b;"><h1>Buskers</h1></a>
    </div>
    <form action="/user/login" method="get" name="idFind">
    <div class="loginBox idFindBox"  th:object="${userVO}">
        <h1>아이디 찾기</h1>
        <p>아래 아이디로 다시 로그인해주세요.</p>

        <div class="idResult">
            <span class="idResultId" th:text="*{userId}"></span>
            <div>
                <span class="idResultDate">가입일</span>
                <span class="idResultDate" th:text="*{userRegisterDate}"></span>
            </div>
        </div>
        <div class="findNext-button">
            <input
                    type="button"
                    id="login-button"
                    class="login-click login-button"
                    value="로그인"
                    onclick="login();"
            />
        </div>
    </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/assets/js/login/idpwFind.js?ver=1"></script>
<script>
    function login() {
        $(location).attr("href", "/user/login")
    }
</script>
</html>
