/* 페이징 */
.mypage-paging {
    outline: none;
}
.mypage-pageStyle {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

.mypage-pageStyle a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 0 3px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.mypage-pageStyle a:hover {
    border-bottom: 3px solid #ff564c;
}