<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아티스트 모집 공고</title>
    <link
            rel="stylesheet"
            href="/assets/css/recruit/recruitRegister.css"
    />
</head>
<body>
<div class="content">
    <p class="title-text">아티스트 모집 공고</p>
</div>
<form action="/recruit/recruitUpdate" method="post" id="registerForm" name="registerForm" enctype="multipart/form-data" th:object="${recruitment}">
    <input type="hidden" th:field="${criteria.pageNum}">
    <input type="hidden" th:field="${criteria.amount}">
    <input type="hidden" name="recruitmentNumber" th:field="*{recruitmentNumber}">
    <div class="big-box" style="display: block">
        <div class="detail-title" >
            <div class="form-label">모집공고명</div>
            <input
                    class="recruiting-register-title"
                    type="text"  id="recru-title" name="recruitmentName"
                    placeholder="모집 공고의 이름을 입력하세요."
                    th:field="*{recruitmentName}"
            />
            <p>모집공고명은 비워둘 수 없습니다.</p>
        </div>
        <div class="detail-view">
            <div class="view-layout">
                <div class="view-left">
                    <!-- <img src="http://tkfile.yes24.com/upload2/PerfBlog/202205/20220523/20220523-42255.jpg" width="180" height="252"> -->

                    <div class="info_left">
                        <div class="img_box">
                            <input id="file_drop" class="file_drop" readonly
                                   placeholder="&nbsp; 모집 포스터를 드래그 앤 드롭으로 등록" style="display: none;">
                            <img id='image-samplebox' class="file_drop" src='' style="width: 100%; height: 100%; overflow: hidden;">
                        </div>

                    </div>
                </div>

                <div class="view-right" >
                    <table class="recru-table">
                        <tbody>

                        <tr>
                            <td class="label top">장소</td>
                            <td><input type="text" name="recruitmentLocation" id="recru-location" th:field="*{recruitmentLocation}"><p class="recru-location" >장소는 비워둘 수 없습니다.</p></td>
                        </tr>

                        <tr>
                            <td class="label">날짜</td>
                            <td class="date"><input type="date" name="recruitmentDay" id="recru-day" th:field="*{recruitmentDay}"><p class="recru-day" >날짜는 비워둘 수 없습니다.</p></td>

                        </tr>

                        <tr>
                            <td class="label">시간</td>

                            <td class="time"><input type="time" name="recruitmentTime" id="recru-time" th:field="*{recruitmentTime}"><p class="recru-time" >시간은 비워둘 수 없습니다.</p></td>
                        </tr>

                        <tr>
                            <td class="label">주최정보</td>
                            <td><input type="text" id="recru-notice" name="recruitmentUrl" placeholder="링크를 입력해주세요" th:field="*{recruitmentUrl}"><p class="recru-notice">정보는 비워둘 수 없습니다.</p></td>

                        </tr>
                        <tr>
                            <td class="label">모집대상</td>
                            <td><select id="recru-target" name="recruitmentType">
                                <option value="A">퍼포먼스, 뮤지션 모두 모집</option>
                                <option value="P">퍼포먼스 모집</option>
                                <option value="M">뮤지션 모집</option>
                            </select></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 디테일 페이지 내용 -->
        <div class="view-content">
            <!--공연개요, 할인정보, 기획사정보-->
            <div class="noti-view-coment">
                <p class="noti-view-comen-tit">공연 개요</p>
                <div class="noti-view-comen-txt">
                    <textarea rows="" cols="100" id="recru-summary" name="recruitmentSummary" th:field="*{recruitmentSummary}"></textarea>
                    <p class="recru-summary">개요는 비워둘 수 없습니다.</p>
                </div>
            </div>
            <div class="noti-view-coment">
                <p class="noti-view-comen-tit">공연 소개</p>
                <div class="noti-view-comen-txt">
                    <textarea rows="" cols="100" id="recru-introduce" name="recruitmentCondition" th:field="*{recruitmentCondition}"></textarea>
                    <p class="recru-introduce">소개는 비워둘 수 없습니다.</p>
                </div>
            </div>
            <div class="noti-view-coment">
                <p class="noti-view-comen-tit">모집 조건</p>
                <div class="noti-view-comen-txt">
                    <textarea rows="" cols="100" id="recru-requirement" name="recruitmentIntroduce" th:field="*{recruitmentIntroduce}"></textarea>
                    <p class="recru-requirement">조건은 비워둘 수 없습니다.</p>
                </div>
            </div>
            <div class="noti-view-coment">
                <p class="noti-view-comen-tit">기획사 정보</p>
                <div class="noti-view-comen-txt">
                    <textarea rows="" cols="100" id="recru-information" name="recruitmentHost" th:field="*{recruitmentHost}"></textarea>
                    <p class="recru-information">정보는 비워둘 수 없습니다.</p>
                </div>
            </div>
        </div>
        <input type='hidden' id='fileName' name='file.fileName' th:value='${file.fileName}'>
        <input type='hidden' id='uuid' name='file.uuid' th:value='${file.uuid}'>
        <input type='hidden' id='uploadPath' name='file.uploadPath' th:value='${file.uploadPath}'>
    </div>
</form>
<div class="form-button">
    <button id="recru-form-submit" class="recru-form-submit">
        수정
    </button>
</div>

<footer th:include="~{/footer/footer :: foot}">

</footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script
        type="text/javascript"
        src="/assets/js/recruit/recruitRegister.js"
></script>
<script src="/assets/js/recruit/recruitment.js"></script>
<script th:inline="javascript">
    console.log([[${recruitment.recruitmentName}]]);
    // 드래그 해서 영역에 아이템을 내리면 그게 files에 저장되고 그 이미지 url따서 그걸 div 영역에 이미지 태그로 넣는거
    var fileList = []; //파일 정보를 담아 둘 배열
    let imgBox = $(".img_box");
    let str = "";
    let number = [[${recruitment.recruitmentNumber}]];

    getImage(number);
    function getImage(num) {
        recruitmentService.getImg(num, function (file){
            console.log("--------------------------------------"+file);
            let src = "/file/recruitment/display?fileName=" + file.uploadPath + "/" + file.uuid + "_"  + file.fileName;
            $("#image-samplebox").attr("src", src);
        });
    }

    $(function () {
        //드래그앤드랍
        $(".file_drop").on("dragenter", function (e) { // 드래그 한 아이템을 영역 위로 올렸을 때 반응
            e.preventDefault(); // 페이지를 이동시킨다거나 form 안에 있는 input 등을 전송한다던가 그러한 동작이 있는데 e.preventDefault 는 그 동작을 중단
            e.stopPropagation(); // e.stopPropagation는 이벤트가 상위 엘리먼트에 전달되지 않게 막아 준다.

            $("#file_drop").show();
            $("#image-samplebox").hide();

        }).on("dragover", function (e) { // 드래그 하면서 마우스가 대상 객체의 위에 자리 잡고 있을 때 발생함.
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF2E5");
        }).on("dragleave", function (e) { // 드래그가 영역을 벗어났을 때
            e.preventDefault();
            e.stopPropagation();
            $(this).css("background-color", "#FFF");
        }).on("drop", function (e) { // 아이템을 떨어뜨렸을 때
            e.preventDefault();
            // 아이템을 떨어트리면
            var files = e.originalEvent.dataTransfer.files; // 기본 event를 불러오고.기본 event로 전송된 데이터를 가져와서.files 를 찾는다.
            console.log(files);

            $("#file_drop").hide();
            $("#image-samplebox").show();

            $("#image-samplebox").attr("src", window.URL.createObjectURL(files[0]));
            console.log(e.target);
            console.log($("#image-samplebox").attr("src"));
            console.log(window.URL.createObjectURL(files[0]))
            let formData = new FormData();
            formData.append("uploadFiles", files[0]);

            $.ajax({
                url: "/file/recruitment/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function (file) {
                    // showUploadResult(files);
                    console.log(file[0]);
                    fileList.push(file[0]);
                    console.log(file[0].fileName);
                    console.log(file[0].uuid);
                    console.log(file[0].uploadPath);

                    $("#fileName").val(file[0].fileName);
                    $("#uuid").val(file[0].uuid);
                    $("#uploadPath").val(file[0].uploadPath);
                    console.log($("#fileName").val());
                    console.log($("#uuid").val());
                    console.log($("#uploadPath").val());
                }
            });
        });

        // // 등록
        // $(document).on("click", "#save", function () {
        let formData = new FormData($("#fileForm")[0]);
        //     if (fileList.length > 0) {
        //         fileList.forEach(function (f) {
        //             formData.append("fileList", f);
        //         });
        //     }
        //
        //     $.ajax({
        //         url: "/upload",
        //         data: formData,
        //         type: 'POST',
        //         processData: false,
        //         contentType: false,
        //         dataType: 'text',
        //         // cache: false,
        //         success: function (res) {
        //             alert("등록에 성공하셨습니다.");
        //         }, error: function (res) {
        //             alert("오류 발생.\n관리자에게 문의해주세요.");
        //         }
        //     });
        // });
    });
    /*
    1. processData:false

    : 기본값은 true로, 데이터를 "application/x-www-form-urlenceded" 타입으로 전송합니다.

    -> 다른 형식으로 전송하기 위해 false로 지정합니다.

    2. contentType:false

    : 기본값은 "application/x-www-form-urlenceded"

    -> 파일의 경우 "multipart/form-data"방식으로 전송하기 위해 false로 지정합니다.

    * */

</script>
</html>
