<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.work.WorkFileMapper">

    <!--작품 사진 추가-->
    <insert id="insert">
        INSERT INTO TBL_WORK_FILE
        (UUID, WORK_NUMBER, UPLOAD_PATH, FILE_NAME)
        VALUES (#{uuid}, #{workNumber}, #{uploadPath}, #{fileName})
    </insert>

    <!--작품 사진 삭제-->
    <delete id="delete">
        DELETE FROM TBL_WORK_FILE WHERE WORK_NUMBER = #{workNumber}
    </delete>

    <!--작품 사진 선택-->
    <select id="find" resultType="workFileVO">
        SELECT UUID, WORK_NUMBER, UPLOAD_PATH, FILE_NAME
        FROM TBL_WORK_FILE
        WHERE WORK_NUMBER = #{workNumber}
    </select>

</mapper>