<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.show.ShowFileMapper">

    <!--공연 사진 추가-->
    <insert id="insert">
        INSERT INTO TBL_SHOW_FILE
        (UUID, SHOW_NUMBER, UPLOAD_PATH, FILE_NAME)
        VALUES (#{uuid}, #{showNumber}, #{uploadPath}, #{fileName})
    </insert>

    <!--공연 사진 삭제-->
    <delete id="delete">
        DELETE FROM TBL_SHOW_FILE WHERE SHOW_NUMBER = #{showNumber}
    </delete>

    <!--공연 사진 변경-->
    <update id="update">
        UPDATE TBL_SHOW_FILE
        SET UUID = #{uuid}, SHOW_NUMBER = #{showNumber}, UPLOAD_PATH = #{uploadPath}, FILE_NAME = #{fileName}
        WHERE SHOW_NUMBER = #{showNumber}
    </update>

    <!--공연 사진 선택-->
    <select id="find" resultType="showFileVO">
        SELECT UUID, SHOW_NUMBER, UPLOAD_PATH, FILE_NAME
        FROM TBL_SHOW_FILE
        WHERE SHOW_NUMBER = #{showNumber}
    </select>

</mapper>