<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.show.ShowReplyMapper">

    <!--댓글 등록-->
    <insert id="insert">
        INSERT INTO TBL_SHOW_REPLY
        (REPLY_NUMBER, USER_NUMBER, SHOW_NUMBER, REPLY_CONTENT)
        VALUES (SEQ_USER_SHOW_REPLY_NUMBER.NEXTVAL, #{userNumber}, #{showNumber}, #{replyContent})
    </insert>

    <!--댓글 수정-->
    <update id="update">
        UPDATE TBL_SHOW_REPLY
        SET REPLY_CONTENT = #{replyContent}, REPLY_UPDATE_DATE = SYSDATE
        WHERE REPLY_NUMBER = #{replyNumber}
    </update>

    <!--댓글 삭제-->
    <delete id="delete">
        DELETE FROM TBL_SHOW_REPLY WHERE REPLY_NUMBER = #{replyNumber}
    </delete>

    <!--댓글 개수-->
    <select id="getTotal" resultType="_int">
        SELECT COUNT(REPLY_NUMBER) FROM TBL_SHOW_REPLY /*집계함수는 결과가 한 개 나옴*/
        WHERE SHOW_NUMBER = #{showNumber}
    </select>

    <!--댓글 목록-->
    <select id="getList" resultType="showReplyVO">
                <![CDATA[
    SELECT REPLY_NUMBER, USER_NUMBER, SHOW_NUMBER, REPLY_CONTENT, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE FROM
    (
      SELECT ROWNUM RN, REPLY_NUMBER, USER_NUMBER, SHOW_NUMBER, REPLY_CONTENT, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
      FROM (
      SELECT REPLY_NUMBER, USER_NUMBER, SHOW_NUMBER, REPLY_CONTENT, REPLY_REGISTER_DATE, REPLY_UPDATE_DATE
      FROM TBL_SHOW_REPLY
      ORDER BY REPLY_UPDATE_DATE DESC
      )
      WHERE SHOW_NUMBER = #{showNumber} AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
        )
        WHERE RN > (#{criteria.pageNum} - 1 ) * #{criteria.amount}
        ]]>
    </select>

</mapper>