<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamprojeect.mapper.show.ShowMapper">
    <!--공연 등록-->
    <insert id="insert">
        <selectKey keyProperty="showNumber" resultType="long" order="BEFORE">
            SELECT SEQ_SHOW.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_SHOW
        (SHOW_NUMBER, ARTIST_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME , SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE)
        VALUES(#{showNumber}, #{artistNumber}, #{showName}, #{showContent}, TO_DATE(#{showDay},'YYYY-MM-DD'), TO_DATE(#{showTime}, 'HH24:MI', 'NLS_DATE_LANGUAGE = Korean'), #{showAddress}, #{showLocation}, #{showType})
    </insert>

    <!--공연 수정-->
    <update id="update">
        UPDATE TBL_SHOW
        SET ARTIST_NUMBER = #{artistNumber}, SHOW_NAME = #{showName}, SHOW_CONTENT = #{showContent}, SHOW_DAY = TO_DATE(#{showDay},'YYYY-MM-DD'), SHOW_TIME = TO_DATE(#{showTime}, 'HH24:MI', 'NLS_DATE_LANGUAGE = Korean'), SHOW_ADDRESS = #{showAddress}, SHOW_LOCATION = #{showLocation}, SHOW_TYPE = #{showType}
        WHERE SHOW_NUMBER= #{showNumber}

    </update>

    <!--공연 삭제-->
    <delete id="delete">
        DELETE FROM TBL_SHOW
        WHERE SHOW_NUMBER = #{showNumber}
    </delete>
    
    <!--진행 예정 공연 // 진행 중 공연 목록-->
    <select id="getList" resultType="showVO">
        <![CDATA[
        SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
        FROM (
        SELECT ROWNUM RN, SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
        FROM (
                SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
                FROM
                 (
                SELECT *
                FROM TBL_SHOW ts, TBL_ARTIST ta
                WHERE ts.ARTIST_NUMBER = ta.ARTIST_NUMBER
                )
                ORDER BY SHOW_DAY ASC
            )
        WHERE SHOW_DAY - SYSDATE > 0
        ]]>
        <choose>
            <when test='listDTO.artistType == "M"'>
                AND SHOW_TYPE = 1
            </when>
            <when test='listDTO.artistType == "P"'>
                AND SHOW_TYPE = 2
            </when>
        </choose>
        <![CDATA[
         AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
        )
        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>

    <!-- 진행 중 공연 목록-->
    <select id="getListIng" resultType="showVO">
        <![CDATA[
        SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
        FROM
            (
                SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
                FROM
                (
                SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME
                FROM TBL_SHOW ts, TBL_ARTIST ta
                WHERE ts.ARTIST_NUMBER = ta.ARTIST_NUMBER
                )
                ORDER BY SHOW_TIME ASC
            )
            WHERE 0 = TO_DATE(SHOW_DAY,'YY-MM-DD') - TO_DATE(SYSDATE,'YY-MM-DD')

            ]]>
            <choose>
                <when test='showLocation == "1"'>
                    AND SHOW_ADDRESS LIKE '서울%'
                </when>
                <when test='showLocation == "2"'>
                    AND (SHOW_ADDRESS  LIKE '경기%' OR SHOW_ADDRESS  LIKE '인천%')
                </when>
                <when test='showLocation == "3"'>
                    AND (SHOW_ADDRESS  LIKE '충남%' OR SHOW_ADDRESS  LIKE '충북%' OR SHOW_ADDRESS  LIKE '세종%' OR SHOW_ADDRESS  LIKE '대전%')
                </when>
                <when test='showLocation == "4"'>
                    AND SHOW_ADDRESS  LIKE '강원%'
                </when>
                <when test='showLocation == "5"'>
                    AND (SHOW_ADDRESS  LIKE '전남%' OR SHOW_ADDRESS  LIKE '전북%' OR SHOW_ADDRESS  LIKE '광주%' OR SHOW_ADDRESS  LIKE '경북%')
                </when>
                <when test='showLocation == "6"'>
                    AND (SHOW_ADDRESS  LIKE '경남%' OR SHOW_ADDRESS  LIKE '경북%' OR SHOW_ADDRESS  LIKE '울산%' OR SHOW_ADDRESS  LIKE '대구%' OR SHOW_ADDRESS  LIKE '부산%')
                </when>
                <when test='showLocation == "7"'>
                    AND SHOW_ADDRESS  LIKE '제주%'
                </when>
            </choose>
    </select>

    <!--진행 예정 공연 개수-->
    <select id="getTotal" resultType="_int">
        SELECT COUNT(*) FROM TBL_SHOW
        WHERE SHOW_DAY - SYSDATE > 0
        <choose>
            <when test='artistType == "M"'>
                AND SHOW_TYPE = 1
            </when>
            <when test='artistType == "P"'>
                AND SHOW_TYPE = 2
            </when>
        </choose>
    </select>

    <!--진행 중 공연 개수-->
    <select id="getTotalIng" resultType="_int">
        SELECT COUNT(*) FROM TBL_SHOW
        WHERE 0 = TO_DATE(SHOW_DAY,'YY-MM-DD') - TO_DATE(SYSDATE,'YY-MM-DD')
        <choose>
            <when test='showLocation == "1"'>
                AND SHOW_ADDRESS  LIKE '서울%'
            </when>
            <when test='showLocation == "2"'>
                AND (SHOW_ADDRESS  LIKE '경기%' OR SHOW_ADDRESS  LIKE '인천%')
            </when>
            <when test='showLocation == "3"'>
                AND (SHOW_ADDRESS  LIKE '충남%' OR SHOW_ADDRESS  LIKE '충북%' OR SHOW_ADDRESS  LIKE '세종%' OR SHOW_ADDRESS  LIKE '대전%')
            </when>
            <when test='showLocation == "4"'>
                AND SHOW_ADDRESS  LIKE '강원%'
            </when>
            <when test='showLocation == "5"'>
                AND (SHOW_ADDRESS  LIKE '전남%' OR SHOW_ADDRESS  LIKE '전북%' OR SHOW_ADDRESS  LIKE '광주주' OR SHOW_ADDRESS  LIKE '경북%')
            </when>
            <when test='showLocation == "6"'>
                AND (SHOW_ADDRESS  LIKE '경남%' OR SHOW_ADDRESS  LIKE '경북%' OR SHOW_ADDRESS  LIKE '울산%' OR SHOW_ADDRESS  LIKE '대구%' OR SHOW_ADDRESS  LIKE '부산%')
            </when>
            <when test='showLocation == "7"'>
                AND SHOW_ADDRESS  LIKE '제주%'
            </when>
        </choose>
    </select>

    <!--공연 상세 페이지-->
    <select id="detail" resultType="showVO">
        SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME, ARTIST_NUMBER
        FROM (
                SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, ARTIST_NAME, ts.ARTIST_NUMBER
                FROM TBL_SHOW ts, TBL_ARTIST ta
                WHERE ts.ARTIST_NUMBER = ta.ARTIST_NUMBER
                )
        WHERE SHOW_NUMBER = #{showNumber}
    </select>

    <!--댓글 목록-->
<!--    <select id="getRankingReply" resultType="showVO">-->
<!--        SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, replycount-->
<!--        FROM (-->
<!--                SELECT SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE-->
<!--                FROM(-->
<!--                (SELECT SHOW_NUMBER, COUNT(SHOW_NUMBER) as replycount-->
<!--                FROM TBL_SHOW_REPLY GROUP BY SHOW_NUMBER ORDER BY replycount DESC ) l JOIN TBL_SHOW a-->
<!--                ON a.SHOW_NUMBER = l.SHOW_NUMBER-->
<!--                ORDER BY REPLYCOUNT DESC-->
<!--                )-->
<!--            )-->
<!--    </select>-->


    <select id="getRankingReply" resultType="showVO">
                SELECT ROWNUM, SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, replyCount
                FROM (
                SELECT l.SHOW_NUMBER, SHOW_NAME, SHOW_CONTENT, SHOW_DAY, SHOW_TIME, SHOW_ADDRESS, SHOW_LOCATION, SHOW_TYPE, replyCount
                FROM
                (
                SELECT SHOW_NUMBER, COUNT(SHOW_NUMBER) as replyCount
                FROM TBL_SHOW_REPLY GROUP BY SHOW_NUMBER ORDER BY replyCount DESC
                ) l JOIN TBL_SHOW a
                ON a.SHOW_NUMBER = l.SHOW_NUMBER
                WHERE a.SHOW_DAY - SYSDATE >= 0
                ORDER BY REPLYCOUNT DESC
                )
                <![CDATA[
                WHERE ROWNUM <= 5
                ]]>
    </select>
</mapper>