<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/ranking/ranking.css">
    <title>BUSKERS</title>
    <link rel="stylesheet" type="text/css" href="ranking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!--        <style type="text/css">-->
    <!--            body{-->
    <!--                font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;-->
    <!--            }-->
    <!--        </style>-->
</head>

<header th:include="~{/header/header3 :: head}">

</header>

<body>
<div class="content_name">
    <p class="big_title">랭킹</p>

    <!-- rank_genre 전체, 뮤지션, 퍼포먼스 div -->
    <div class="rank_genre">
        <a href="/ranking/rankingAll" class="on">전체</a>
        <a href="/ranking/rankingMusician">뮤지션</a>
        <a href="/ranking/rankingPerformance">퍼포먼스</a>
<!--        <a href="/ranking/rankingComment">댓글순</a>-->
    </div>

    <!-- rank_big_category 주간, 월간, 연간 div -->
<!--    <div class="rank_big_category">-->
<!--        <div class="rank_category">-->

<!--            &lt;!&ndash; rank_calendar 주간, 월간, 연간에 따른 calendar &ndash;&gt;-->
<!--            <div class="rank_category_tiny category" selectedcategoryid="1">-->
<!--                <a id="week-rank" style="cursor: pointer;" categoryId="1" class="on">주간</a>-->
<!--                <a id="month-rank" style="cursor: pointer;" categoryId="2">월간</a>-->
<!--                <a id="year-rank" style="cursor: pointer;" categoryId="3">연간</a>-->
<!--            </div>-->

<!--            <div class="rank_calendar_ver1" style="display: display;">-->
<!--                <div class="rank_calendar_ver1_year">-->
<!--                    <select name="rank_calendar_ver1_year">-->
<!--                        <option value="1월">1월</option>-->
<!--                        <option value="2월">2월</option>-->
<!--                        <option value="3월">3월</option>-->
<!--                        <option value="4월">4월</option>-->
<!--                        <option value="5월">5월</option>-->
<!--                        <option value="6월">6월</option>-->
<!--                        <option value="7월">7월</option>-->
<!--                        <option value="8월">8월</option>-->
<!--                        <option value="9월">9월</option>-->
<!--                        <option value="10월">10월</option>-->
<!--                        <option value="11월">11월</option>-->
<!--                        <option value="12월">12월</option>-->
<!--                    </select>-->

<!--                    <select name="rank_calendar_ver1_week">-->
<!--                        <option value="1주차">1주차</option>-->
<!--                        <option value="2주차">2주차</option>-->
<!--                        <option value="3주차">3주차</option>-->
<!--                        <option value="4주차">4주차</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rank_calendar_ver2" style="display: none;">-->
<!--                <select name="rank_calendar_ver2">-->
<!--                    <option value="2022">2022</option>-->
<!--                    <option value="2021">2021</option>-->
<!--                    <option value="2020">2020</option>-->
<!--                    <option value="2019">2019</option>-->
<!--                    <option value="2018">2018</option>-->
<!--                    <option value="2017">2017</option>-->
<!--                </select>-->

<!--                <select name="rank_calendar_ver2">-->
<!--                    <option value="1월">1월</option>-->
<!--                    <option value="2월">2월</option>-->
<!--                    <option value="3월">3월</option>-->
<!--                    <option value="4월">4월</option>-->
<!--                    <option value="5월">5월</option>-->
<!--                    <option value="6월">6월</option>-->
<!--                    <option value="7월">7월</option>-->
<!--                    <option value="8월">8월</option>-->
<!--                    <option value="9월">9월</option>-->
<!--                    <option value="10월">10월</option>-->
<!--                    <option value="11월">11월</option>-->
<!--                    <option value="12월">12월</option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="rank_calendar_ver3" style="display:none;">-->
<!--                <select name="rank_calendar_ver3">-->
<!--                    <option value="2022">2022</option>-->
<!--                    <option value="2021">2021</option>-->
<!--                    <option value="2020">2020</option>-->
<!--                    <option value="2019">2019</option>-->
<!--                    <option value="2018">2018</option>-->
<!--                    <option value="2017">2017</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <!-- rank_best 랭킹 top3 공간-->
<div class="flexing">
    <div class="rank_best" th:each="rank : ${rankingListAll}" th:if="${rank.rankingCount}<4">
        <div>
            <a th:href="|/artist/artistInfo?artistNumber=${rank.artistNumber}|" title="악동뮤지션">
                <span class="artist_image">
                    <img th:id="${rank.artistNumber}" th:class="|rank_best_img newArtist newArtist-${rank.artistNumber}|"  alt="악동뮤지션">
                </span>
                <p class="artist_title" th:text="${rank.artistName}">악동뮤지션</p>
                <p class="artist_detail" th:text="${rank.artistDescription}">친남매로 이루어진 남매 혼성 듀오
                    <br>
                    포크, 어쿠스틱, 댄스, 발라드, EDM, 락, 힙합
                </p>
                <p class="rank_best_point">
                    <span class="like_point" th:text="${rank.likescount}">1204</span>
                </p>
                <p class="rank_best_number">
<!--                    <span>-->
                    <span th:text="${rank.rankingCount}">
                        1위
                    </span>
                    <span class="rank_best_number_new">new</span>
                </p>
                <p class="rank_best_tag">최고</p>
            </a>
        </div>

    </div>
</div>

    <!-- rank_list 랭킹 top4 아래 공간 -->

    <div class="rank_list" th:each="rank : ${rankingListAll}" th:if="${rank.rankingCount}>3 and ${rank.rankingCount}<=15">
        <div>
            <div class="fluctuation">
                <p>
                    <span th:text="${rank.rankingCount}">
                        4위
                    </span>
                </p>
            </div>
            <div>
                <a th:href="|/artist/artistInfo?artistNumber=${rank.artistNumber}|">
                    <img th:id="${rank.artistNumber}" th:class="|rank_list_img newArtist newArtist-*{artistNumber}|"  alt="페퍼톤스">
                </a>
            </div>
            <div>
                <p class="rank_list_title">
                    <a th:href="|/artist/artistInfo?artistNumber=${rank.artistNumber}|" th:text="${rank.artistName}">페퍼톤스</a>
                </p>
            </div>
            <div>
                <p class=detailText th:text="${rank.artistDescription}">2022.06.09
                    <br>
                    남성그룹
                </p>
            </div>
            <div>
                <p class="rank_list_grade" id="heartCount">
                    <span class="like_point" th:text="${rank.likescount}">177</span>
                </p>
            </div>
        </div>
    </div>





    <!--notify-->
    <div class="info">
        오전의 경우 이용자가 적어 오전 10시 30분 이전까지는 전일 24시간의 집계 현황을 알려드립니다.
        <br>
        주간은 1시간 단위로 업데이트 되며, 월간/연간은 일 단위로 업데이트 됩니다.
    </div>
</div>



<footer th:include="~{/footer/footer :: foot}">

</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/assets/js/rank/rank.js"></script>
<script th:inline="javascript">
    console.log([[${rankingListAll}]]);
    let rankingListAll = [[${rankingListAll}]];

    rankingService.year({}, function(result){

    })


</script>
<script>
    $("select[name=rank_calendar_ver3]").change(function(){
        // console.log($(this).val()); //value값 가져오기
        console.log($("select[name=rank_calendar_ver3] option:selected").text()); //text값 가져오기
    });
</script>
<script>
function artistRankingListImage(callback, error){
    $.ajax({
        url:"/ranking/rankingAllImage/",
        type: "get",
        dataType: "json",
        contentType: "application/json",
        success: function (result){
            if(callback){
                callback(result);
            }
        },
        error: function (xhr, status, er) {
            if(error){
                error(xhr, status, er);
            }
        }

    })

}


$(".newArtist").each(function () {
    console.log("1")
    let artistNumber = Number($(this).attr('id'));
    console.log("2")



    $.getJSON("/file/artist/find", {artistNumber: artistNumber}, function(file){
        let src = "/file/artist/display?fileName=" + file.uploadPath + "/" + file.uuid + "_"  + file.fileName;
        console.log("3")
        console.log(file)
        $("img#" + artistNumber).attr("src", src);
        console.log($("img#" + artistNumber).attr("src"))

    })

})





</script>


</html>
