<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/rank/Ranking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/rank/MonthPicker.min.css">
    <link rel="stylesheet" href="/assets/js/rank/MonthPicker.min.js">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="content_name">
        <p class="big_title">랭킹</p>

        <!-- rank_genre 전체, 뮤지션, 퍼포먼스 div -->
        <div class="rank_genre">
            <a href="/ranking/rankingAll.html" class="on">전체</a>
            <a href="/ranking/rankingMusician.html">뮤지션</a>
            <a href="/ranking/rankingPerformance.html">퍼포먼스</a>
        </div>

                <!-- rank_big_category 주간, 월간, 연간 div-->
                <div class="rank_big_category">
                    <div class="rank_category">
        
                        <!-- rank_calendar 주간, 월간, 연간에 따른 calendar -->
        
                        <div class="rank_category_calendar" style="display:none;">
                            <!-- 주간 캘린더 -->
                            <div class="rank_calendar_ver1" id="rank_calendar_ver1" style="display:none;">
                                <div class="rank_calendar_ver1">
                                </div>
                            </div>
                            <!-- 월간 캘린더 -->
                            <div class="rank_calendar_ver2" id="rank_calendar_ver2" style="display:none;">
                                <div class="rank_calendar">
        
                                </div>
                            </div>
        
                            <!-- 연간 캘린더 -->
                            <div class="rank_calendar_ver3" id="rank_calendar_ver3" style="display:block;">
                                <div class="rank_calendar">
                                </div>
                            </div>
                        </div>
        
                        <div class="rank_category_tiny category" selectedcategoryid="1">
                            <a id="week-rank" style="cursor: pointer;" categoryId="1" class="on">주간</a>
                            <a id="month-rank" style="cursor: pointer;" categoryId="2">월간</a>
                            <a id="year-rank" style="cursor: pointer;" categoryId="3">연간</a>
                        </div>
                        <p id="week-text" class="rank_category_date on" style>
                            <span></span>
                        </p>
        
                        <p id="month-text" class="rank_category_date on" style="display: none;">06/2022
                            <span>12:30</span>
                        </p>
        
                        <p id="year-text" class="rank_category_date on" style="display: none;">2022
                            <span>12:30</span>
                        </p>
                    </div>
                </div>
        
                <!-- rank_best 랭킹 top3 공간-->
                <div class="rank_best">
        
                    <div>
                        <a href="#" title="악동뮤지션">
                            <span class="artist_image">
                                <img src="artist_1.jpg" alt="악동뮤지션" class="rank_best_img">
                            </span>
                            <p class="artist_title">악동뮤지션</p>
                            <p class="artist_detail">친남매로 이루어진 남매 혼성 듀오
                                <br>
                                포크, 어쿠스틱, 댄스, 발라드, EDM, 락, 힙합
                            </p>
                            <p class="rank_best_point">
                                <strong>D-2</strong>
                                <span class="like_point">1204</span>
                            </p>
                            <p class="rank_best_number">
                                <span>
                                    1위
                                </span>
                                <span class="rank_best_number_new">new</span>
                                ">"
                            </p>
                            <p class="rank_best_tag">최고</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" title="악동뮤지션">
                            <span class="artist_image">
                                <img src="artist_1.jpg" alt="악동뮤지션" class="rank_best_img">
                            </span>
                            <p class="artist_title">악동뮤지션</p>
                            <p class="artist_detail">친남매로 이루어진 남매 혼성 듀오
                                <br>
                                포크, 어쿠스틱, 댄스, 발라드, EDM, 락, 힙합
                            </p>
                            <p class="rank_best_point">
                                <strong>D-2</strong>
                                <span class="like_point">1204</span>
                            </p>
                            <p class="rank_best_number">
                                <span>
                                    2위
                                </span>
                                <span class="rank_best_number_new">new</span>
                                ">"
                            </p>
                            <p class="rank_best_tag">최고</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" title="악동뮤지션">
                            <span class="artist_image">
                                <img src="artist_1.jpg" alt="악동뮤지션" class="rank_best_img">
                            </span>
                            <p class="artist_title">악동뮤지션</p>
                            <p class="artist_detail">친남매로 이루어진 남매 혼성 듀오
                                <br>
                                포크, 어쿠스틱, 댄스, 발라드, EDM, 락, 힙합
                            </p>
                            <p class="rank_best_point">
                                <strong>D-2</strong>
                                <span class="like_point">1204</span>
                            </p>
                            <p class="rank_best_number">
                                <span>
                                    3위
                                </span>
                                <span class="rank_best_number_new">new</span>
                                ">"
                            </p>
                            <p class="rank_best_tag">최고</p>
                        </a>
                    </div>
                </div>
        
                <!-- rank_list 랭킹 top4 아래 공간 -->
                <div class="rank_list">
                    <div>
                        <div class="fluctuation">
                            <p>
                                <span>
                                    4위
                                </span>
                            </p>
                            <p class="rank_list_number">
                                5
                            </p>
                        </div>
                        <div>
                            <a href="#">
                                <img src="/static/images/rank/artist_2.jpg" alt="페퍼톤스" class="rank_list_img">
                            </a>
                        </div>
                        <div>
                            <p class="rank_list_title">
                                <a href="#">페퍼톤스</a>
                            </p>
                            <p class="rank_list_grade">
                                <span class="like_point">177</span>
                            </p>
                        </div>
                        <div>
                            <p>2022.06.09
                                <br>
                                남성그룹
                            </p>
                        </div>
                        <div>D-2</div>
                    </div>
        
        
                </div>
                <input type="hidden" id="hidSalesRankTrackingPeriod" value="">
        
                <!--notify-->
                <div class="info">
                    오전의 경우 이용자가 적어 오전 10시 30분 이전까지는 전일 24시간의 집계 현황을 알려드립니다.
                    <br>
                    일간/주간은 1시간 단위로 업데이트 되며, 월간/연간은 일 단위로 업데이트 됩니다.
                </div>
            </div>
        

    <input type="hidden" id="salesRankDateWeek" value="">
    <input type="hidden" id="salesRankMonth" value="">
    <input type="hidden" id="salesRankNowYear" value="">
    <input type="hidden" id="categoryId" value="">

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js"></script>


<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://cdn.rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


<script src="/static/assets/js/rank/MonthPicker.min.js"></script>
<script src="/static/assets/js/rank/MonthPicker.js"></script>
<script src="/static/assets/js/rank/rank.js"></script>







</html>

<!-- <input type="hidden" id="salesRankMonth" value="">
                    <input type="hidden" id="salesRankNowYear" value=""> -->