.header-box{
    position: relative;
    font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
    z-index: 3000;
}

.white-box{
    background: #fff;
    border-bottom: 1px solid #ddd;
    top: 34px
   
}

.black-box{
    display: block;
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    min-width: 1300px;
    height: 34px;
    background: #000;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 50;
    display: none;
}

.header-left{
    
}

